flows.json
[
    {
        "id": "6d564b0b71763d89",
        "type": "tab",
        "label": "Busses",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "4f5b0833ab0a95bb",
        "type": "tab",
        "label": "hardware",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "8f469e385c0b1581",
        "type": "tab",
        "label": "settings",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "c6c05e7764275064",
        "type": "tab",
        "label": "Inverter",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "15311a68299dc024",
        "type": "tab",
        "label": "Fridge",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "7d2ee9cb73f16e0a",
        "type": "tab",
        "label": "chargers",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "13952ff3682a9fc4",
        "type": "tab",
        "label": "Water",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "68eb8e61689f5b6b",
        "type": "tab",
        "label": "Solar",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "b10498f78b9fb638",
        "type": "group",
        "z": "6d564b0b71763d89",
        "name": "Get Voltage with ADC over I2C",
        "style": {
            "label": true
        },
        "nodes": [
            "201c2c30807ef967",
            "adac8c1d20d88736",
            "4ae8904edfe813c1",
            "735962933b07806b",
            "8fd56c6b0a475c8d",
            "97a5e37cf3a5ed25",
            "28ee8cbf1004c486",
            "a26469027be8a376"
        ],
        "x": 34,
        "y": 39,
        "w": 1032,
        "h": 142
    },
    {
        "id": "dbe48b6a4f7bad55",
        "type": "group",
        "z": "6d564b0b71763d89",
        "name": "Get Temperatures from sensors over 1 Wire",
        "style": {
            "label": true
        },
        "nodes": [
            "5037b72635b1b458",
            "6d7e5dbf538df0f9",
            "d99ec2a5f880790f",
            "3168cfd8a06313e9",
            "d9ac4e5b6e2bb63d",
            "f351f4af7934daf0",
            "3b8cc007df89f286",
            "c0742511f4277387",
            "098183b4045c6339",
            "4562a99cb7e72896",
            "e4055112bf86b97c",
            "e6ea961978efc0f1",
            "6fc257af612e0459"
        ],
        "x": 34,
        "y": 219,
        "w": 1032,
        "h": 229.5
    },
    {
        "id": "4f72bd100e0aeb55",
        "type": "group",
        "z": "6d564b0b71763d89",
        "name": "MPPT Broadcast",
        "style": {
            "label": true
        },
        "nodes": [
            "0b3aacd51f241ec7",
            "d398aa2f1dc0021d",
            "834eead8c677744d",
            "b3e115c07c82ac4d",
            "0e5e047ad2d0bce5",
            "7b77d1ea2e1d6b18"
        ],
        "x": 34,
        "y": 519,
        "w": 1032,
        "h": 182
    },
    {
        "id": "eaf8bdbc0b32a5bb",
        "type": "group",
        "z": "68eb8e61689f5b6b",
        "name": "Solar",
        "style": {
            "label": true
        },
        "nodes": [
            "49f184367216d935",
            "8a9f649dd8a4d08e",
            "2ad8b7343dd5697e",
            "23862c18ac493199",
            "afd54341bce38b3e",
            "8df345a7f0caaad9",
            "11134be126d8a9e0",
            "0dfd21a273207c9f",
            "8c0ea0e11e39eaf0",
            "f0c81d8d65642c43",
            "2f3766856057ef0d",
            "c1b3a7704468558e",
            "dbefbde828d006d7",
            "3dadbe1cb4047158",
            "fe5440428b83da93",
            "57d367224d09ccd6",
            "d2ac302f1c601a2b",
            "3809706fd2674d67",
            "7510582f92b6dfdd",
            "494b9f025a690547",
            "3be3ad5243d93026",
            "0a679e414a51a829",
            "d6785ee679911bd6",
            "e3b03333b844e614",
            "9af0b603d3c5615e",
            "e8293c6ee77da59e"
        ],
        "x": 94,
        "y": 39,
        "w": 612,
        "h": 682
    },
    {
        "id": "cd72b915c94ff1a4",
        "type": "group",
        "z": "13952ff3682a9fc4",
        "name": "Temperature Dashboard",
        "style": {
            "label": true
        },
        "nodes": [
            "90ac10f75058bd6c",
            "0ddebecdce249942",
            "70d8484d067914b5",
            "85a8f1a036b01587"
        ],
        "x": 394,
        "y": 479,
        "w": 252,
        "h": 122
    },
    {
        "id": "f93b0d515e50b6cf",
        "type": "group",
        "z": "4f5b0833ab0a95bb",
        "name": "PWM lights control",
        "style": {
            "label": true
        },
        "nodes": [
            "941ecb4ddd78054f",
            "f15741b17bd997eb",
            "a75a4c86edddc56a",
            "22e953c7bff14115",
            "5285818c72fda0f3",
            "cc46016ddf54fa22",
            "8c8cccf47c37b852",
            "3f461fe14af0a35c",
            "92b3cc025d4102a5",
            "8606a9d0f4e58377",
            "4b840a6a82d5c1d4",
            "9901123d9c76ccdc",
            "6fef33851e4780eb",
            "803e0f1b00b98a01",
            "15b744bb23a8f8fe",
            "2cf7ef15bac8b654",
            "d8b1723e5f60bc86",
            "d70676abbc7f5f70",
            "17fcda4469873d7e",
            "f83c588b3aeddd0a",
            "63b4e2f6c8d20f1c",
            "85db11a719ab9fae",
            "3b0f2ca402e19c9a",
            "b963dcfa7d4aeff5",
            "1963d5993fb33d77",
            "92362b83a6c4c267",
            "cc1f4fcd2c186051",
            "900aa220ce0e42e8",
            "6af10f3ca6afb4fa",
            "aaa7d82082978dfc",
            "f2fa55f851f91421",
            "8ba987c931153074",
            "d1ed3015c3aacb5a",
            "fa9b0f22bc36fb6d",
            "7b4e8d55dfaebf07",
            "d947cbfaf62684b6",
            "44e87c730b602fb5",
            "4a1369f77b454bcd",
            "3662bbabcf55b91f",
            "db348f41992c6d47"
        ],
        "x": 214,
        "y": 739,
        "w": 1152,
        "h": 462
    },
    {
        "id": "f1b90aff42e3f29a",
        "type": "serial-port",
        "name": "",
        "serialport": "/dev/ttyS0",
        "serialbaud": "19200",
        "databits": "8",
        "parity": "none",
        "stopbits": "1",
        "waitfor": "",
        "dtr": "none",
        "rts": "none",
        "cts": "none",
        "dsr": "none",
        "newline": "\\n",
        "bin": "bin",
        "out": "char",
        "addchar": "",
        "responsetimeout": "10000"
    },
    {
        "id": "e6b261de3d937e74",
        "type": "PCA9685",
        "deviceNumber": "1",
        "address": "64",
        "frequency": "200"
    },
    {
        "id": "6f01fee901ee4e98",
        "type": "ui_tab",
        "name": "Living",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "90eec909fcfbd53a",
        "type": "ui_base",
        "theme": {
            "name": "theme-dark",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#e0ad00",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#097479",
                    "value": "#e0ad00",
                    "edited": true
                },
                "page-titlebar-backgroundColor": {
                    "value": "#e0ad00",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#111111",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#ffcf2d",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#555555",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#333333",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#eeeeee",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#e0ad00",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#333333",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Siegfried",
            "hideToolbar": "false",
            "allowSwipe": "true",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 44,
                "sy": 47,
                "gx": 10,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "689ec1180c141d67",
        "type": "ui_group",
        "name": "Fresh Water",
        "tab": "6f01fee901ee4e98",
        "order": 3,
        "disp": true,
        "width": "10",
        "collapse": false,
        "className": ""
    },
    {
        "id": "7dbe224d7e5b35ba",
        "type": "ui_group",
        "name": "Inputs",
        "tab": "9d7781fc6afac662",
        "order": 2,
        "disp": true,
        "width": "3",
        "collapse": false,
        "className": ""
    },
    {
        "id": "e132481549413258",
        "type": "ui_group",
        "name": "Power",
        "tab": "6e2e8a772b0722ac",
        "order": 1,
        "disp": true,
        "width": "10",
        "collapse": false,
        "className": ""
    },
    {
        "id": "6e2e8a772b0722ac",
        "type": "ui_tab",
        "name": "Solar",
        "icon": "solar",
        "order": 2,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "847e6ebb38b5779a",
        "type": "ui_group",
        "name": "Solar 1",
        "tab": "6e2e8a772b0722ac",
        "order": 2,
        "disp": false,
        "width": "10",
        "collapse": false,
        "className": ""
    },
    {
        "id": "23c60b13edc12513",
        "type": "ui_group",
        "name": "Lights",
        "tab": "6f01fee901ee4e98",
        "order": 4,
        "disp": true,
        "width": "10",
        "collapse": false,
        "className": ""
    },
    {
        "id": "af392092454b5034",
        "type": "ui_group",
        "name": "Fridge",
        "tab": "6f01fee901ee4e98",
        "order": 2,
        "disp": true,
        "width": "10",
        "collapse": false,
        "className": ""
    },
    {
        "id": "6fd6f055a36d0f78",
        "type": "ui_group",
        "name": "General",
        "tab": "9d7781fc6afac662",
        "order": 3,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "57ca5f37d1ee1a2a",
        "type": "ui_group",
        "name": "Temperature",
        "tab": "6f01fee901ee4e98",
        "order": 1,
        "disp": true,
        "width": "10",
        "collapse": false,
        "className": ""
    },
    {
        "id": "9d7781fc6afac662",
        "type": "ui_tab",
        "name": "Settings",
        "icon": "settings",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "466866a9d24aa546",
        "type": "ui_group",
        "name": "Fridge",
        "tab": "9d7781fc6afac662",
        "order": 4,
        "disp": true,
        "width": 7,
        "collapse": false,
        "className": ""
    },
    {
        "id": "1f51103af332e4a2",
        "type": "ui_group",
        "name": "Chargers",
        "tab": "9d7781fc6afac662",
        "order": 5,
        "disp": true,
        "width": 7,
        "collapse": false,
        "className": ""
    },
    {
        "id": "80e5e30f3656b98c",
        "type": "ui_group",
        "name": "Manual Controls",
        "tab": "9d7781fc6afac662",
        "order": 6,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "25087c53b8fc6993",
        "type": "ui_group",
        "name": "Water",
        "tab": "9d7781fc6afac662",
        "order": 7,
        "disp": true,
        "width": 7,
        "collapse": false,
        "className": ""
    },
    {
        "id": "0d054da8a009aaec",
        "type": "ui_group",
        "name": "Outputs",
        "tab": "9d7781fc6afac662",
        "order": 1,
        "disp": true,
        "width": "3",
        "collapse": false,
        "className": ""
    },
    {
        "id": "201c2c30807ef967",
        "type": "inject",
        "z": "6d564b0b71763d89",
        "g": "b10498f78b9fb638",
        "name": "10s trigger",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "10",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 150,
        "y": 140,
        "wires": [
            [
                "adac8c1d20d88736",
                "735962933b07806b"
            ]
        ]
    },
    {
        "id": "adac8c1d20d88736",
        "type": "i2c in",
        "z": "6d564b0b71763d89",
        "g": "b10498f78b9fb638",
        "name": "single shot request",
        "busno": "1",
        "address": "105",
        "command": "160",
        "count": "3",
        "x": 490,
        "y": 80,
        "wires": [
            []
        ]
    },
    {
        "id": "4ae8904edfe813c1",
        "type": "function",
        "z": "6d564b0b71763d89",
        "g": "b10498f78b9fb638",
        "name": "data parser",
        "func": "// check if adc conversion ended\nif(msg.payload[2] == 0) {\n    // build adc value with data bytes\n    var adc_val = msg.payload[1]+ (msg.payload[0]<<8);\n    // calculate voltage divider (10k -100k)--> 1/11\n    adc_val = Math.round(adc_val*1.114)/100;\n\n    global.set(\"sensors.starter_voltage\", adc_val);\n    return {payload:adc_val};\n}",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 710,
        "y": 140,
        "wires": [
            [
                "97a5e37cf3a5ed25",
                "28ee8cbf1004c486"
            ]
        ]
    },
    {
        "id": "735962933b07806b",
        "type": "delay",
        "z": "6d564b0b71763d89",
        "g": "b10498f78b9fb638",
        "name": "",
        "pauseType": "delay",
        "timeout": "100",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 310,
        "y": 140,
        "wires": [
            [
                "8fd56c6b0a475c8d"
            ]
        ]
    },
    {
        "id": "8fd56c6b0a475c8d",
        "type": "i2c in",
        "z": "6d564b0b71763d89",
        "g": "b10498f78b9fb638",
        "name": "read data request",
        "busno": "1",
        "address": "105",
        "command": "0",
        "count": "3",
        "x": 510,
        "y": 140,
        "wires": [
            [
                "4ae8904edfe813c1"
            ]
        ]
    },
    {
        "id": "97a5e37cf3a5ed25",
        "type": "rbe",
        "z": "6d564b0b71763d89",
        "g": "b10498f78b9fb638",
        "name": "on change filter",
        "func": "rbe",
        "gap": "",
        "start": "",
        "inout": "out",
        "septopics": true,
        "property": "payload",
        "topi": "topic",
        "x": 900,
        "y": 140,
        "wires": [
            [
                "a26469027be8a376"
            ]
        ]
    },
    {
        "id": "28ee8cbf1004c486",
        "type": "debug",
        "z": "6d564b0b71763d89",
        "g": "b10498f78b9fb638",
        "name": "debug adc",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 890,
        "y": 100,
        "wires": []
    },
    {
        "id": "5037b72635b1b458",
        "type": "exec",
        "z": "6d564b0b71763d89",
        "g": "dbe48b6a4f7bad55",
        "command": "cat /sys/bus/w1/devices/28-00000015081d/w1_slave",
        "addpay": "",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "Get fridge temp",
        "x": 340,
        "y": 280,
        "wires": [
            [
                "d99ec2a5f880790f",
                "3168cfd8a06313e9"
            ],
            [],
            []
        ]
    },
    {
        "id": "6d7e5dbf538df0f9",
        "type": "function",
        "z": "6d564b0b71763d89",
        "g": "dbe48b6a4f7bad55",
        "name": "parse temp and store into global var",
        "func": "var temp = msg.payload;\n//extract temperature from string\ntemp = parseInt(temp.substring(temp.indexOf(\"=\", temp.indexOf(\"\\n\"))+1));\n// convert temperature to °C and round it with 1 decimal\ntemp = (Math.round(temp/100))/10;\nmsg.payload = temp;\n\nglobal.set(\"sensors.fridge_temp\", temp);\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 830,
        "y": 260,
        "wires": [
            [
                "4562a99cb7e72896"
            ]
        ]
    },
    {
        "id": "d99ec2a5f880790f",
        "type": "rbe",
        "z": "6d564b0b71763d89",
        "g": "dbe48b6a4f7bad55",
        "name": "on change filter",
        "func": "rbe",
        "gap": "",
        "start": "",
        "inout": "out",
        "septopics": true,
        "property": "payload",
        "topi": "topic",
        "x": 560,
        "y": 260,
        "wires": [
            [
                "6d7e5dbf538df0f9"
            ]
        ]
    },
    {
        "id": "3168cfd8a06313e9",
        "type": "exec",
        "z": "6d564b0b71763d89",
        "g": "dbe48b6a4f7bad55",
        "command": "cat /sys/bus/w1/devices/28-0000001538b5/w1_slave",
        "addpay": "",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "Get indoor temp",
        "x": 340,
        "y": 340,
        "wires": [
            [
                "d9ac4e5b6e2bb63d",
                "f351f4af7934daf0"
            ],
            [],
            []
        ]
    },
    {
        "id": "d9ac4e5b6e2bb63d",
        "type": "rbe",
        "z": "6d564b0b71763d89",
        "g": "dbe48b6a4f7bad55",
        "name": "on change filter",
        "func": "rbe",
        "gap": "",
        "start": "",
        "inout": "out",
        "septopics": true,
        "property": "payload",
        "topi": "topic",
        "x": 560,
        "y": 320,
        "wires": [
            [
                "c0742511f4277387"
            ]
        ]
    },
    {
        "id": "f351f4af7934daf0",
        "type": "exec",
        "z": "6d564b0b71763d89",
        "g": "dbe48b6a4f7bad55",
        "command": "cat /sys/bus/w1/devices/28-000000152b52/w1_slave",
        "addpay": "",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "Get outdoor temp",
        "x": 350,
        "y": 400,
        "wires": [
            [
                "3b8cc007df89f286"
            ],
            [],
            []
        ]
    },
    {
        "id": "3b8cc007df89f286",
        "type": "rbe",
        "z": "6d564b0b71763d89",
        "g": "dbe48b6a4f7bad55",
        "name": "on change filter",
        "func": "rbe",
        "gap": "",
        "start": "",
        "inout": "out",
        "septopics": true,
        "property": "payload",
        "topi": "topic",
        "x": 560,
        "y": 380,
        "wires": [
            [
                "098183b4045c6339"
            ]
        ]
    },
    {
        "id": "c0742511f4277387",
        "type": "function",
        "z": "6d564b0b71763d89",
        "g": "dbe48b6a4f7bad55",
        "name": "parse temp and store into global var",
        "func": "var temp = msg.payload;\n//extract temperature from string\ntemp = parseInt(temp.substring(temp.indexOf(\"=\", temp.indexOf(\"\\n\"))+1));\n// convert temperature to °C and round it with 1 decimal\ntemp = (Math.round(temp/100))/10;\nmsg.payload = temp;\n\nglobal.set(\"sensors.indoor_temp\", temp);\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 830,
        "y": 320,
        "wires": [
            [
                "e4055112bf86b97c"
            ]
        ]
    },
    {
        "id": "098183b4045c6339",
        "type": "function",
        "z": "6d564b0b71763d89",
        "g": "dbe48b6a4f7bad55",
        "name": "parse temp and store into global var",
        "func": "var temp = msg.payload;\n//extract temperature from string\ntemp = parseInt(temp.substring(temp.indexOf(\"=\", temp.indexOf(\"\\n\"))+1));\n// convert temperature to °C and round it with 1 decimal\ntemp = (Math.round(temp/100))/10;\nmsg.payload = temp;\n\nglobal.set(\"sensors.outdoor_temp\", temp);\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 830,
        "y": 380,
        "wires": [
            [
                "e6ea961978efc0f1"
            ]
        ]
    },
    {
        "id": "0b3aacd51f241ec7",
        "type": "serial in",
        "z": "6d564b0b71763d89",
        "g": "4f72bd100e0aeb55",
        "name": "MPPT broadcast",
        "serial": "f1b90aff42e3f29a",
        "x": 140,
        "y": 640,
        "wires": [
            [
                "b3e115c07c82ac4d"
            ]
        ]
    },
    {
        "id": "d398aa2f1dc0021d",
        "type": "function",
        "z": "6d564b0b71763d89",
        "g": "4f72bd100e0aeb55",
        "name": "broadcast parser",
        "func": "// 1. output --> data object only if data is not corrupted\n// 2. output --> error msg if data is corrupted\n// 3. output --> formatted msg object for database injection\n\nconst db_injection_msg = \"insert into mppt (v_batt, i_batt, v_panel, p_panel, op_state, mppt_mode, off_reason, error_msg, load_state, i_load, yield_total, yield_today, maximum_power_today, yield_yesterday, maximum_power_yesterday, day_sequence_number) values (?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?);\"\nvar bit_stream = msg.payload;\nvar data = {};\n\n// reorder and standardize checksum string\nconst pid_index = bit_stream.indexOf(\"PID\");\nbit_stream = bit_stream.slice(pid_index-2, bit_stream.indexOf(\"Checksum\", pid_index+1)+10);\n\n//calculate checksum for data integrity\nvar checksum = 0;\nfor(const element of bit_stream) {\n   checksum = (checksum + element) & 255; /* Take modulo 256 in account */\n}\n\n// if data is not corrupted\nif(checksum == 0){\n\n    // convert bitstream to string\n    var string = bit_stream.toString();\n    // remove checksum, lf and cr\n    string = string.substring(2, string.indexOf(\"Checksum\")-1);\n    // convert string to array\n    var array = string.split('\\n');\n    // convert array of string into data object\n    for(const element of array){\n        var property_name = element.substring(0, element.indexOf('\\t'));\n        var property_value = element.substring(element.indexOf('\\t')+1, element.length-1);\n        data[property_name] = property_value;\n    }\n    \n    // check data object for integrity before saving it\n    if(Object.keys(data).length == 19){\n        // update flow object with new data\n        global.set(\"mppt_broadcast\", data);\n        \n        // format data to be injected into database\n        var db_data = Object.values(data);\n        // remove static data\n        db_data = db_data.splice(3);\n        msg.payload = db_data;\n        msg.topic = db_injection_msg;\n        return [{payload: data}, null, msg];\n    }\n}\n\n// if data is corrupted\nelse {\n    // data corrucped flag\n    return [null, {payload: \"mppt broadcast corrupted\"}, null];\n}\n",
        "outputs": 3,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 570,
        "y": 640,
        "wires": [
            [
                "0e5e047ad2d0bce5",
                "7b77d1ea2e1d6b18"
            ],
            [
                "834eead8c677744d"
            ],
            []
        ]
    },
    {
        "id": "834eead8c677744d",
        "type": "debug",
        "z": "6d564b0b71763d89",
        "g": "4f72bd100e0aeb55",
        "name": "data corrupted",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 940,
        "y": 660,
        "wires": []
    },
    {
        "id": "b3e115c07c82ac4d",
        "type": "join",
        "z": "6d564b0b71763d89",
        "g": "4f72bd100e0aeb55",
        "name": "",
        "mode": "custom",
        "build": "buffer",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "",
        "joinerType": "str",
        "accumulate": false,
        "timeout": "",
        "count": "50",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 310,
        "y": 640,
        "wires": [
            [
                "d398aa2f1dc0021d"
            ]
        ]
    },
    {
        "id": "0e5e047ad2d0bce5",
        "type": "debug",
        "z": "6d564b0b71763d89",
        "g": "4f72bd100e0aeb55",
        "name": "debug serial",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 950,
        "y": 620,
        "wires": []
    },
    {
        "id": "4562a99cb7e72896",
        "type": "link out",
        "z": "6d564b0b71763d89",
        "g": "dbe48b6a4f7bad55",
        "name": "fridge_temp",
        "mode": "link",
        "links": [
            "05ade75e1ba4a9f0"
        ],
        "x": 1025,
        "y": 260,
        "wires": []
    },
    {
        "id": "e4055112bf86b97c",
        "type": "link out",
        "z": "6d564b0b71763d89",
        "g": "dbe48b6a4f7bad55",
        "name": "indoor_temp",
        "mode": "link",
        "links": [
            "85a8f1a036b01587"
        ],
        "x": 1025,
        "y": 320,
        "wires": []
    },
    {
        "id": "e6ea961978efc0f1",
        "type": "link out",
        "z": "6d564b0b71763d89",
        "g": "dbe48b6a4f7bad55",
        "name": "outdoor_temp",
        "mode": "link",
        "links": [
            "70d8484d067914b5"
        ],
        "x": 1025,
        "y": 380,
        "wires": []
    },
    {
        "id": "7b77d1ea2e1d6b18",
        "type": "link out",
        "z": "6d564b0b71763d89",
        "g": "4f72bd100e0aeb55",
        "name": "mppt_broadcast",
        "mode": "link",
        "links": [
            "2ad8b7343dd5697e",
            "77afc3390d3c1c72"
        ],
        "x": 1025,
        "y": 560,
        "wires": []
    },
    {
        "id": "a26469027be8a376",
        "type": "link out",
        "z": "6d564b0b71763d89",
        "g": "b10498f78b9fb638",
        "name": "adc_out",
        "mode": "link",
        "links": [
            "e8293c6ee77da59e"
        ],
        "x": 1025,
        "y": 140,
        "wires": []
    },
    {
        "id": "6fc257af612e0459",
        "type": "inject",
        "z": "6d564b0b71763d89",
        "g": "dbe48b6a4f7bad55",
        "name": "10s trigger",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "10",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 150,
        "y": 280,
        "wires": [
            [
                "5037b72635b1b458"
            ]
        ]
    },
    {
        "id": "4ab78910fec37e29",
        "type": "link in",
        "z": "4f5b0833ab0a95bb",
        "name": "inverter_gpio",
        "links": [
            "4cc17cb982627297"
        ],
        "x": 395,
        "y": 240,
        "wires": [
            [
                "ec58200f216d9a89",
                "f99e6ed654942297"
            ]
        ]
    },
    {
        "id": "c7ddfcd77752d339",
        "type": "link in",
        "z": "4f5b0833ab0a95bb",
        "name": "leisure_charger_gpio",
        "links": [
            "5f7d5aaa077569f7"
        ],
        "x": 395,
        "y": 440,
        "wires": [
            [
                "929776411fb44892",
                "87b6939a962348ba"
            ]
        ]
    },
    {
        "id": "e8ee6714fa622f88",
        "type": "link in",
        "z": "4f5b0833ab0a95bb",
        "name": "fridge_gpio",
        "links": [
            "b7f3b176e4b124f4"
        ],
        "x": 395,
        "y": 480,
        "wires": [
            [
                "2e7a22334ba4ea5d",
                "8ce1885ebf3009ea"
            ]
        ]
    },
    {
        "id": "215139cf840026cc",
        "type": "rpi-gpio in",
        "z": "4f5b0833ab0a95bb",
        "name": "high_input_10",
        "pin": "18",
        "intype": "tri",
        "debounce": "25",
        "read": true,
        "bcm": true,
        "x": 890,
        "y": 200,
        "wires": [
            [
                "349c357319390e35"
            ]
        ]
    },
    {
        "id": "73c96bac36bcca7f",
        "type": "rpi-gpio in",
        "z": "4f5b0833ab0a95bb",
        "name": "Input_6",
        "pin": "20",
        "intype": "tri",
        "debounce": "25",
        "read": true,
        "bcm": true,
        "x": 870,
        "y": 520,
        "wires": [
            [
                "5ec90ac196eeaa46"
            ]
        ]
    },
    {
        "id": "c480f2ec7062654f",
        "type": "rpi-gpio in",
        "z": "4f5b0833ab0a95bb",
        "name": "high_input_9",
        "pin": "23",
        "intype": "tri",
        "debounce": "25",
        "read": true,
        "bcm": true,
        "x": 890,
        "y": 240,
        "wires": [
            []
        ]
    },
    {
        "id": "ae3697325ade8e49",
        "type": "rpi-gpio in",
        "z": "4f5b0833ab0a95bb",
        "name": "Input_4",
        "pin": "24",
        "intype": "tri",
        "debounce": "25",
        "read": true,
        "bcm": true,
        "x": 870,
        "y": 280,
        "wires": [
            [
                "54f0d8d906d373c6"
            ]
        ]
    },
    {
        "id": "e0f0588c385249dd",
        "type": "rpi-gpio in",
        "z": "4f5b0833ab0a95bb",
        "name": "Input_3",
        "pin": "25",
        "intype": "tri",
        "debounce": "25",
        "read": true,
        "bcm": true,
        "x": 870,
        "y": 320,
        "wires": [
            []
        ]
    },
    {
        "id": "31a11e2b6c89d0bc",
        "type": "rpi-gpio in",
        "z": "4f5b0833ab0a95bb",
        "name": "Input_2",
        "pin": "8",
        "intype": "tri",
        "debounce": "25",
        "read": true,
        "bcm": true,
        "x": 870,
        "y": 360,
        "wires": [
            [
                "4a950834a42a5def"
            ]
        ]
    },
    {
        "id": "b60fcbc486446eb6",
        "type": "rpi-gpio in",
        "z": "4f5b0833ab0a95bb",
        "name": "Input_1",
        "pin": "7",
        "intype": "tri",
        "debounce": "25",
        "read": true,
        "bcm": true,
        "x": 870,
        "y": 400,
        "wires": [
            [
                "c77227366aedc214"
            ]
        ]
    },
    {
        "id": "5f2fdda6aaa02688",
        "type": "rpi-gpio in",
        "z": "4f5b0833ab0a95bb",
        "name": "Input_8",
        "pin": "12",
        "intype": "tri",
        "debounce": "25",
        "read": true,
        "bcm": true,
        "x": 870,
        "y": 440,
        "wires": [
            [
                "a610425877f8c9bc"
            ]
        ]
    },
    {
        "id": "aff16c8e747d441e",
        "type": "rpi-gpio in",
        "z": "4f5b0833ab0a95bb",
        "name": "Input_7",
        "pin": "16",
        "intype": "tri",
        "debounce": "25",
        "read": true,
        "bcm": true,
        "x": 870,
        "y": 480,
        "wires": [
            [
                "e3f2a778b986f7ef"
            ]
        ]
    },
    {
        "id": "97dda5e7d1a88dbd",
        "type": "rpi-gpio in",
        "z": "4f5b0833ab0a95bb",
        "name": "Input_5",
        "pin": "21",
        "intype": "tri",
        "debounce": "25",
        "read": true,
        "bcm": true,
        "x": 870,
        "y": 560,
        "wires": [
            []
        ]
    },
    {
        "id": "9f9a802760b24a04",
        "type": "rpi-gpio out",
        "z": "4f5b0833ab0a95bb",
        "name": "pwm_en",
        "pin": "17",
        "set": true,
        "level": "0",
        "freq": "",
        "out": "out",
        "bcm": true,
        "x": 720,
        "y": 160,
        "wires": []
    },
    {
        "id": "0a432f883018e195",
        "type": "rpi-gpio out",
        "z": "4f5b0833ab0a95bb",
        "name": "output_4",
        "pin": "27",
        "set": true,
        "level": "0",
        "freq": "",
        "out": "out",
        "bcm": true,
        "x": 720,
        "y": 200,
        "wires": []
    },
    {
        "id": "ec58200f216d9a89",
        "type": "rpi-gpio out",
        "z": "4f5b0833ab0a95bb",
        "name": "output_3",
        "pin": "22",
        "set": true,
        "level": "0",
        "freq": "",
        "out": "out",
        "bcm": true,
        "x": 720,
        "y": 240,
        "wires": []
    },
    {
        "id": "b277ff3b6120e37b",
        "type": "rpi-gpio out",
        "z": "4f5b0833ab0a95bb",
        "name": "output_6",
        "pin": "10",
        "set": true,
        "level": "0",
        "freq": "",
        "out": "out",
        "bcm": true,
        "x": 720,
        "y": 280,
        "wires": []
    },
    {
        "id": "238d777e8f91f75d",
        "type": "rpi-gpio out",
        "z": "4f5b0833ab0a95bb",
        "name": "output_5",
        "pin": "9",
        "set": true,
        "level": "0",
        "freq": "",
        "out": "out",
        "bcm": true,
        "x": 720,
        "y": 320,
        "wires": []
    },
    {
        "id": "99eb2f8b28890f61",
        "type": "rpi-gpio out",
        "z": "4f5b0833ab0a95bb",
        "name": "output_10",
        "pin": "11",
        "set": true,
        "level": "1",
        "freq": "",
        "out": "out",
        "bcm": true,
        "x": 720,
        "y": 360,
        "wires": []
    },
    {
        "id": "c5f4335c5d949044",
        "type": "rpi-gpio out",
        "z": "4f5b0833ab0a95bb",
        "name": "output_9",
        "pin": "5",
        "set": true,
        "level": "1",
        "freq": "",
        "out": "out",
        "bcm": true,
        "x": 720,
        "y": 400,
        "wires": []
    },
    {
        "id": "929776411fb44892",
        "type": "rpi-gpio out",
        "z": "4f5b0833ab0a95bb",
        "name": "output_2",
        "pin": "6",
        "set": true,
        "level": "0",
        "freq": "",
        "out": "out",
        "bcm": true,
        "x": 720,
        "y": 440,
        "wires": []
    },
    {
        "id": "2e7a22334ba4ea5d",
        "type": "rpi-gpio out",
        "z": "4f5b0833ab0a95bb",
        "name": "output_1",
        "pin": "13",
        "set": true,
        "level": "0",
        "freq": "",
        "out": "out",
        "bcm": true,
        "x": 720,
        "y": 480,
        "wires": []
    },
    {
        "id": "e730899400c089da",
        "type": "rpi-gpio out",
        "z": "4f5b0833ab0a95bb",
        "name": "output_8",
        "pin": "19",
        "set": true,
        "level": "0",
        "freq": "",
        "out": "out",
        "bcm": true,
        "x": 720,
        "y": 520,
        "wires": []
    },
    {
        "id": "2ffa2e3c9c3157b5",
        "type": "rpi-gpio out",
        "z": "4f5b0833ab0a95bb",
        "name": "output_7",
        "pin": "26",
        "set": true,
        "level": "0",
        "freq": "",
        "out": "out",
        "bcm": true,
        "x": 720,
        "y": 560,
        "wires": []
    },
    {
        "id": "349c357319390e35",
        "type": "change",
        "z": "4f5b0833ab0a95bb",
        "name": "ignition",
        "rules": [
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "0",
                "fromt": "num",
                "to": "true",
                "tot": "bool"
            },
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "1",
                "fromt": "num",
                "to": "false",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1040,
        "y": 200,
        "wires": [
            [
                "ba947f4deae7306a",
                "13cfc5ece438a9f2",
                "77ee5917b38765fa"
            ]
        ]
    },
    {
        "id": "ba947f4deae7306a",
        "type": "link out",
        "z": "4f5b0833ab0a95bb",
        "name": "ignition_gpio",
        "mode": "link",
        "links": [
            "a175a803f3969b0a",
            "d3e2da3d93171ad1",
            "17bee388142753a4"
        ],
        "x": 1405,
        "y": 200,
        "wires": []
    },
    {
        "id": "cc4732aab186fe6e",
        "type": "link in",
        "z": "4f5b0833ab0a95bb",
        "name": "starter_charger_gpio",
        "links": [
            "b571123d946be4c9"
        ],
        "x": 395,
        "y": 520,
        "wires": [
            [
                "8cceda34fc71ed1d",
                "e730899400c089da"
            ]
        ]
    },
    {
        "id": "1101cf3640e2ece0",
        "type": "link in",
        "z": "4f5b0833ab0a95bb",
        "name": "valve_2_gpio",
        "links": [
            "d850506da8fb975c",
            "fc2dde5f98b3403e"
        ],
        "x": 395,
        "y": 280,
        "wires": [
            [
                "b277ff3b6120e37b",
                "c06e6151d88611fc"
            ]
        ]
    },
    {
        "id": "ee7d7e06e788195f",
        "type": "link in",
        "z": "4f5b0833ab0a95bb",
        "name": "valve_1_gpio",
        "links": [],
        "x": 395,
        "y": 320,
        "wires": [
            [
                "238d777e8f91f75d",
                "b0260cf5f7d40e3f"
            ]
        ]
    },
    {
        "id": "57aee4dc74f81aab",
        "type": "link in",
        "z": "4f5b0833ab0a95bb",
        "name": "pump_gpio",
        "links": [
            "c26791e7295a5c67"
        ],
        "x": 395,
        "y": 560,
        "wires": [
            [
                "bf37a5fe2bb8ce58",
                "2ffa2e3c9c3157b5"
            ]
        ]
    },
    {
        "id": "941ecb4ddd78054f",
        "type": "PCA9685 out",
        "z": "4f5b0833ab0a95bb",
        "g": "f93b0d515e50b6cf",
        "name": "",
        "pca9685": "e6b261de3d937e74",
        "channel": "5",
        "payload": "",
        "unit": "percent",
        "onStep": "0",
        "x": 1260,
        "y": 1000,
        "wires": []
    },
    {
        "id": "f15741b17bd997eb",
        "type": "PCA9685 out",
        "z": "4f5b0833ab0a95bb",
        "g": "f93b0d515e50b6cf",
        "name": "",
        "pca9685": "e6b261de3d937e74",
        "channel": "1",
        "payload": "",
        "unit": "percent",
        "onStep": "0",
        "x": 1260,
        "y": 840,
        "wires": []
    },
    {
        "id": "a75a4c86edddc56a",
        "type": "PCA9685 out",
        "z": "4f5b0833ab0a95bb",
        "g": "f93b0d515e50b6cf",
        "name": "",
        "pca9685": "e6b261de3d937e74",
        "channel": "2",
        "payload": "",
        "unit": "percent",
        "onStep": "0",
        "x": 1260,
        "y": 880,
        "wires": []
    },
    {
        "id": "22e953c7bff14115",
        "type": "PCA9685 out",
        "z": "4f5b0833ab0a95bb",
        "g": "f93b0d515e50b6cf",
        "name": "",
        "pca9685": "e6b261de3d937e74",
        "channel": "3",
        "payload": "",
        "unit": "percent",
        "onStep": "0",
        "x": 1260,
        "y": 920,
        "wires": []
    },
    {
        "id": "5285818c72fda0f3",
        "type": "PCA9685 out",
        "z": "4f5b0833ab0a95bb",
        "g": "f93b0d515e50b6cf",
        "name": "",
        "pca9685": "e6b261de3d937e74",
        "channel": "4",
        "payload": "",
        "unit": "percent",
        "onStep": "0",
        "x": 1260,
        "y": 960,
        "wires": []
    },
    {
        "id": "cc46016ddf54fa22",
        "type": "ui_slider",
        "z": "4f5b0833ab0a95bb",
        "g": "f93b0d515e50b6cf",
        "name": "round lights rear",
        "label": "",
        "tooltip": "",
        "group": "23c60b13edc12513",
        "order": 4,
        "width": "7",
        "height": "1",
        "passthru": true,
        "outs": "end",
        "topic": "topic",
        "topicType": "msg",
        "min": 0,
        "max": "100",
        "step": "5",
        "className": "",
        "x": 500,
        "y": 840,
        "wires": [
            [
                "63b4e2f6c8d20f1c"
            ]
        ]
    },
    {
        "id": "8c8cccf47c37b852",
        "type": "ui_slider",
        "z": "4f5b0833ab0a95bb",
        "g": "f93b0d515e50b6cf",
        "name": "light bar     ",
        "label": "",
        "tooltip": "",
        "group": "23c60b13edc12513",
        "order": 12,
        "width": "7",
        "height": "1",
        "passthru": true,
        "outs": "end",
        "topic": "topic",
        "topicType": "msg",
        "min": 0,
        "max": "100",
        "step": "5",
        "className": "",
        "x": 480,
        "y": 1000,
        "wires": [
            [
                "1963d5993fb33d77"
            ]
        ]
    },
    {
        "id": "3f461fe14af0a35c",
        "type": "ui_slider",
        "z": "4f5b0833ab0a95bb",
        "g": "f93b0d515e50b6cf",
        "name": "light column",
        "label": "",
        "tooltip": "",
        "group": "23c60b13edc12513",
        "order": 8,
        "width": "7",
        "height": "1",
        "passthru": true,
        "outs": "end",
        "topic": "topic",
        "topicType": "msg",
        "min": 0,
        "max": "100",
        "step": "5",
        "className": "",
        "x": 490,
        "y": 920,
        "wires": [
            [
                "3b0f2ca402e19c9a"
            ]
        ]
    },
    {
        "id": "92b3cc025d4102a5",
        "type": "ui_slider",
        "z": "4f5b0833ab0a95bb",
        "g": "f93b0d515e50b6cf",
        "name": "light door   ",
        "label": "",
        "tooltip": "",
        "group": "23c60b13edc12513",
        "order": 10,
        "width": "7",
        "height": "1",
        "passthru": true,
        "outs": "end",
        "topic": "topic",
        "topicType": "msg",
        "min": 0,
        "max": "100",
        "step": "5",
        "className": "",
        "x": 480,
        "y": 960,
        "wires": [
            [
                "b963dcfa7d4aeff5"
            ]
        ]
    },
    {
        "id": "5ec99543396b4c4a",
        "type": "link out",
        "z": "4f5b0833ab0a95bb",
        "name": "switch_1_gpio",
        "mode": "link",
        "links": [
            "fa07b686d66dd586",
            "db348f41992c6d47"
        ],
        "x": 1405,
        "y": 520,
        "wires": []
    },
    {
        "id": "5e7a82ac94513fb0",
        "type": "link out",
        "z": "4f5b0833ab0a95bb",
        "name": "switch_2_gpio",
        "mode": "link",
        "links": [
            "f2fa55f851f91421",
            "8ba987c931153074"
        ],
        "x": 1405,
        "y": 400,
        "wires": []
    },
    {
        "id": "b4dd9a7691a5b247",
        "type": "link out",
        "z": "4f5b0833ab0a95bb",
        "name": "switch_3_gpio",
        "mode": "link",
        "links": [
            "7b4e8d55dfaebf07"
        ],
        "x": 1405,
        "y": 480,
        "wires": []
    },
    {
        "id": "7e6995508c9e5007",
        "type": "link out",
        "z": "4f5b0833ab0a95bb",
        "name": "switch_4_gpio",
        "mode": "link",
        "links": [
            "de22dce2df13f5f3"
        ],
        "x": 1405,
        "y": 440,
        "wires": []
    },
    {
        "id": "40f5f34d56c294d5",
        "type": "link out",
        "z": "4f5b0833ab0a95bb",
        "name": "switch_kitchen_gpio",
        "mode": "link",
        "links": [],
        "x": 1405,
        "y": 360,
        "wires": []
    },
    {
        "id": "8606a9d0f4e58377",
        "type": "ui_slider",
        "z": "4f5b0833ab0a95bb",
        "g": "f93b0d515e50b6cf",
        "name": "round lights front",
        "label": "",
        "tooltip": "",
        "group": "23c60b13edc12513",
        "order": 6,
        "width": "7",
        "height": "1",
        "passthru": true,
        "outs": "end",
        "topic": "topic",
        "topicType": "msg",
        "min": 0,
        "max": "100",
        "step": "5",
        "className": "",
        "x": 510,
        "y": 880,
        "wires": [
            [
                "85db11a719ab9fae"
            ]
        ]
    },
    {
        "id": "4b840a6a82d5c1d4",
        "type": "PCA9685 out",
        "z": "4f5b0833ab0a95bb",
        "g": "f93b0d515e50b6cf",
        "name": "",
        "pca9685": "e6b261de3d937e74",
        "channel": "6",
        "payload": "",
        "unit": "percent",
        "onStep": "0",
        "x": 1260,
        "y": 1040,
        "wires": []
    },
    {
        "id": "9901123d9c76ccdc",
        "type": "PCA9685 out",
        "z": "4f5b0833ab0a95bb",
        "g": "f93b0d515e50b6cf",
        "name": "",
        "pca9685": "e6b261de3d937e74",
        "channel": "7",
        "payload": "",
        "unit": "percent",
        "onStep": "0",
        "x": 1260,
        "y": 1080,
        "wires": []
    },
    {
        "id": "6fef33851e4780eb",
        "type": "PCA9685 out",
        "z": "4f5b0833ab0a95bb",
        "g": "f93b0d515e50b6cf",
        "name": "",
        "pca9685": "e6b261de3d937e74",
        "channel": "8",
        "payload": "",
        "unit": "percent",
        "onStep": "0",
        "x": 1260,
        "y": 1120,
        "wires": []
    },
    {
        "id": "803e0f1b00b98a01",
        "type": "PCA9685 out",
        "z": "4f5b0833ab0a95bb",
        "g": "f93b0d515e50b6cf",
        "name": "",
        "pca9685": "e6b261de3d937e74",
        "channel": "9",
        "payload": "",
        "unit": "percent",
        "onStep": "0",
        "x": 1260,
        "y": 1160,
        "wires": []
    },
    {
        "id": "c78ddd2d8a0ab813",
        "type": "ui_switch",
        "z": "4f5b0833ab0a95bb",
        "name": "",
        "label": "inverter",
        "tooltip": "",
        "group": "80e5e30f3656b98c",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 180,
        "y": 240,
        "wires": [
            [
                "ec58200f216d9a89"
            ]
        ]
    },
    {
        "id": "beaa259186ef2c26",
        "type": "ui_switch",
        "z": "4f5b0833ab0a95bb",
        "name": "",
        "label": "leisure charger",
        "tooltip": "",
        "group": "80e5e30f3656b98c",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 200,
        "y": 440,
        "wires": [
            [
                "929776411fb44892"
            ]
        ]
    },
    {
        "id": "0182473f14111bb7",
        "type": "ui_switch",
        "z": "4f5b0833ab0a95bb",
        "name": "",
        "label": "fridge",
        "tooltip": "",
        "group": "80e5e30f3656b98c",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 170,
        "y": 480,
        "wires": [
            [
                "2e7a22334ba4ea5d"
            ]
        ]
    },
    {
        "id": "24cfc3eae12dacc9",
        "type": "ui_switch",
        "z": "4f5b0833ab0a95bb",
        "name": "",
        "label": "starter charger",
        "tooltip": "",
        "group": "80e5e30f3656b98c",
        "order": 4,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 200,
        "y": 520,
        "wires": [
            [
                "e730899400c089da"
            ]
        ]
    },
    {
        "id": "8bb109e79f212e90",
        "type": "ui_switch",
        "z": "4f5b0833ab0a95bb",
        "name": "",
        "label": "valve 1",
        "tooltip": "",
        "group": "80e5e30f3656b98c",
        "order": 5,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 180,
        "y": 320,
        "wires": [
            [
                "238d777e8f91f75d"
            ]
        ]
    },
    {
        "id": "b06dac96bdd82ad2",
        "type": "ui_switch",
        "z": "4f5b0833ab0a95bb",
        "name": "",
        "label": "valve 2",
        "tooltip": "",
        "group": "80e5e30f3656b98c",
        "order": 6,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 180,
        "y": 280,
        "wires": [
            [
                "b277ff3b6120e37b"
            ]
        ]
    },
    {
        "id": "3fc9637c2e9a5dc2",
        "type": "ui_switch",
        "z": "4f5b0833ab0a95bb",
        "name": "",
        "label": "pump",
        "tooltip": "",
        "group": "80e5e30f3656b98c",
        "order": 7,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 170,
        "y": 560,
        "wires": [
            [
                "2ffa2e3c9c3157b5"
            ]
        ]
    },
    {
        "id": "20ceaa1f73b958fc",
        "type": "inject",
        "z": "4f5b0833ab0a95bb",
        "name": "",
        "props": [
            {
                "p": "enabled",
                "v": "false",
                "vt": "bool"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "x": 110,
        "y": 620,
        "wires": [
            []
        ]
    },
    {
        "id": "15b744bb23a8f8fe",
        "type": "ui_template",
        "z": "4f5b0833ab0a95bb",
        "g": "f93b0d515e50b6cf",
        "group": "23c60b13edc12513",
        "name": "light door",
        "order": 9,
        "width": "3",
        "height": "1",
        "format": "<div>Door light</div>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 300,
        "y": 960,
        "wires": [
            []
        ]
    },
    {
        "id": "2cf7ef15bac8b654",
        "type": "ui_template",
        "z": "4f5b0833ab0a95bb",
        "g": "f93b0d515e50b6cf",
        "group": "23c60b13edc12513",
        "name": "light bar",
        "order": 11,
        "width": "3",
        "height": "1",
        "format": "<div>Floor light bar</div>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 300,
        "y": 1000,
        "wires": [
            []
        ]
    },
    {
        "id": "d8b1723e5f60bc86",
        "type": "ui_template",
        "z": "4f5b0833ab0a95bb",
        "g": "f93b0d515e50b6cf",
        "group": "23c60b13edc12513",
        "name": "main light",
        "order": 1,
        "width": "3",
        "height": "1",
        "format": "<div>Main light</div>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 300,
        "y": 800,
        "wires": [
            []
        ]
    },
    {
        "id": "d70676abbc7f5f70",
        "type": "ui_template",
        "z": "4f5b0833ab0a95bb",
        "g": "f93b0d515e50b6cf",
        "group": "23c60b13edc12513",
        "name": "spots lights rear",
        "order": 3,
        "width": "3",
        "height": "1",
        "format": "<div>Spots lights rear</div>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 320,
        "y": 840,
        "wires": [
            []
        ]
    },
    {
        "id": "17fcda4469873d7e",
        "type": "ui_template",
        "z": "4f5b0833ab0a95bb",
        "g": "f93b0d515e50b6cf",
        "group": "23c60b13edc12513",
        "name": "spot lights front",
        "order": 5,
        "width": "3",
        "height": "1",
        "format": "<div>Spot lights front</div>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 320,
        "y": 880,
        "wires": [
            []
        ]
    },
    {
        "id": "f83c588b3aeddd0a",
        "type": "ui_template",
        "z": "4f5b0833ab0a95bb",
        "g": "f93b0d515e50b6cf",
        "group": "23c60b13edc12513",
        "name": "light angle",
        "order": 7,
        "width": "3",
        "height": "1",
        "format": "<div>Angle light</div>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 310,
        "y": 920,
        "wires": [
            []
        ]
    },
    {
        "id": "63b4e2f6c8d20f1c",
        "type": "change",
        "z": "4f5b0833ab0a95bb",
        "g": "f93b0d515e50b6cf",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "pwm.spots_rear",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "true",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 700,
        "y": 840,
        "wires": [
            [
                "92362b83a6c4c267"
            ]
        ]
    },
    {
        "id": "85db11a719ab9fae",
        "type": "change",
        "z": "4f5b0833ab0a95bb",
        "g": "f93b0d515e50b6cf",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "pwm.spots_front",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "true",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 700,
        "y": 880,
        "wires": [
            [
                "cc1f4fcd2c186051"
            ]
        ]
    },
    {
        "id": "3b0f2ca402e19c9a",
        "type": "change",
        "z": "4f5b0833ab0a95bb",
        "g": "f93b0d515e50b6cf",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "pwm.angle_light",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "true",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 700,
        "y": 920,
        "wires": [
            [
                "900aa220ce0e42e8"
            ]
        ]
    },
    {
        "id": "b963dcfa7d4aeff5",
        "type": "change",
        "z": "4f5b0833ab0a95bb",
        "g": "f93b0d515e50b6cf",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "pwm.door_light",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "true",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 700,
        "y": 960,
        "wires": [
            [
                "6af10f3ca6afb4fa"
            ]
        ]
    },
    {
        "id": "1963d5993fb33d77",
        "type": "change",
        "z": "4f5b0833ab0a95bb",
        "g": "f93b0d515e50b6cf",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "pwm.floor_light",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "true",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 700,
        "y": 1000,
        "wires": [
            [
                "aaa7d82082978dfc"
            ]
        ]
    },
    {
        "id": "92362b83a6c4c267",
        "type": "function",
        "z": "4f5b0833ab0a95bb",
        "g": "f93b0d515e50b6cf",
        "name": "set pwm value",
        "func": "if(msg.payload === true){\n    msg.payload = flow.get(\"pwm.spots_rear\");\n}else{\n    msg.payload = 0;\n}\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1040,
        "y": 840,
        "wires": [
            [
                "f15741b17bd997eb"
            ]
        ]
    },
    {
        "id": "cc1f4fcd2c186051",
        "type": "function",
        "z": "4f5b0833ab0a95bb",
        "g": "f93b0d515e50b6cf",
        "name": "set pwm value",
        "func": "if(msg.payload === true){\n    msg.payload = flow.get(\"pwm.spots_front\");\n}else{\n    msg.payload = 0;\n}\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1040,
        "y": 880,
        "wires": [
            [
                "4b840a6a82d5c1d4"
            ]
        ]
    },
    {
        "id": "900aa220ce0e42e8",
        "type": "function",
        "z": "4f5b0833ab0a95bb",
        "g": "f93b0d515e50b6cf",
        "name": "set pwm value",
        "func": "if(msg.payload === true){\n    msg.payload = flow.get(\"pwm.angle_light\");\n}else{\n    msg.payload = 0;\n}\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1040,
        "y": 920,
        "wires": [
            [
                "6fef33851e4780eb"
            ]
        ]
    },
    {
        "id": "6af10f3ca6afb4fa",
        "type": "function",
        "z": "4f5b0833ab0a95bb",
        "g": "f93b0d515e50b6cf",
        "name": "set pwm value",
        "func": "if(msg.payload === true){\n    msg.payload = flow.get(\"pwm.door_light\");\n}else{\n    msg.payload = 0;\n}\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1040,
        "y": 960,
        "wires": [
            [
                "5285818c72fda0f3"
            ]
        ]
    },
    {
        "id": "aaa7d82082978dfc",
        "type": "function",
        "z": "4f5b0833ab0a95bb",
        "g": "f93b0d515e50b6cf",
        "name": "set pwm value",
        "func": "if(msg.payload === true){\n    msg.payload = flow.get(\"pwm.floor_light\");\n}else{\n    msg.payload = 0;\n}\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1040,
        "y": 1000,
        "wires": [
            [
                "9901123d9c76ccdc"
            ]
        ]
    },
    {
        "id": "f2fa55f851f91421",
        "type": "link in",
        "z": "4f5b0833ab0a95bb",
        "g": "f93b0d515e50b6cf",
        "name": "",
        "links": [
            "5e7a82ac94513fb0"
        ],
        "x": 895,
        "y": 820,
        "wires": [
            [
                "92362b83a6c4c267"
            ]
        ]
    },
    {
        "id": "8ba987c931153074",
        "type": "link in",
        "z": "4f5b0833ab0a95bb",
        "g": "f93b0d515e50b6cf",
        "name": "",
        "links": [
            "5e7a82ac94513fb0"
        ],
        "x": 895,
        "y": 860,
        "wires": [
            [
                "cc1f4fcd2c186051"
            ]
        ]
    },
    {
        "id": "d1ed3015c3aacb5a",
        "type": "link in",
        "z": "4f5b0833ab0a95bb",
        "g": "f93b0d515e50b6cf",
        "name": "",
        "links": [],
        "x": 895,
        "y": 900,
        "wires": [
            [
                "900aa220ce0e42e8"
            ]
        ]
    },
    {
        "id": "fa9b0f22bc36fb6d",
        "type": "link in",
        "z": "4f5b0833ab0a95bb",
        "g": "f93b0d515e50b6cf",
        "name": "",
        "links": [
            "697021be5ce94774"
        ],
        "x": 895,
        "y": 940,
        "wires": [
            [
                "6af10f3ca6afb4fa"
            ]
        ]
    },
    {
        "id": "7b4e8d55dfaebf07",
        "type": "link in",
        "z": "4f5b0833ab0a95bb",
        "g": "f93b0d515e50b6cf",
        "name": "",
        "links": [
            "b4dd9a7691a5b247"
        ],
        "x": 895,
        "y": 980,
        "wires": [
            [
                "aaa7d82082978dfc"
            ]
        ]
    },
    {
        "id": "697021be5ce94774",
        "type": "link out",
        "z": "4f5b0833ab0a95bb",
        "name": "door_sensor_gpio",
        "mode": "link",
        "links": [
            "fa9b0f22bc36fb6d"
        ],
        "x": 1405,
        "y": 280,
        "wires": []
    },
    {
        "id": "4a950834a42a5def",
        "type": "change",
        "z": "4f5b0833ab0a95bb",
        "name": "kitchen switch",
        "rules": [
            {
                "t": "set",
                "p": "status.kitchen_switch",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            },
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "0",
                "fromt": "num",
                "to": "true",
                "tot": "bool"
            },
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "1",
                "fromt": "num",
                "to": "false",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1060,
        "y": 360,
        "wires": [
            [
                "40f5f34d56c294d5",
                "955caaecde7179d9",
                "2ffa2e3c9c3157b5"
            ]
        ]
    },
    {
        "id": "5ec90ac196eeaa46",
        "type": "change",
        "z": "4f5b0833ab0a95bb",
        "name": "switch 1",
        "rules": [
            {
                "t": "set",
                "p": "status.switch_1",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            },
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "0",
                "fromt": "num",
                "to": "false",
                "tot": "bool"
            },
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "1",
                "fromt": "num",
                "to": "true",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1040,
        "y": 520,
        "wires": [
            [
                "5ec99543396b4c4a",
                "eab68d389e1a065c"
            ]
        ]
    },
    {
        "id": "c77227366aedc214",
        "type": "change",
        "z": "4f5b0833ab0a95bb",
        "name": "switch 2",
        "rules": [
            {
                "t": "set",
                "p": "status.switch_2",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            },
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "0",
                "fromt": "num",
                "to": "false",
                "tot": "bool"
            },
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "1",
                "fromt": "num",
                "to": "true",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1040,
        "y": 400,
        "wires": [
            [
                "5e7a82ac94513fb0",
                "0945f3e61888262a"
            ]
        ]
    },
    {
        "id": "e3f2a778b986f7ef",
        "type": "change",
        "z": "4f5b0833ab0a95bb",
        "name": "switch 3",
        "rules": [
            {
                "t": "set",
                "p": "status.switch_3",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            },
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "0",
                "fromt": "num",
                "to": "false",
                "tot": "bool"
            },
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "1",
                "fromt": "num",
                "to": "true",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1040,
        "y": 480,
        "wires": [
            [
                "b4dd9a7691a5b247",
                "582cac66052d220d"
            ]
        ]
    },
    {
        "id": "a610425877f8c9bc",
        "type": "change",
        "z": "4f5b0833ab0a95bb",
        "name": "switch 4",
        "rules": [
            {
                "t": "set",
                "p": "status.switch_4",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            },
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "0",
                "fromt": "num",
                "to": "false",
                "tot": "bool"
            },
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "1",
                "fromt": "num",
                "to": "true",
                "tot": "bool"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "inverter",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1040,
        "y": 440,
        "wires": [
            [
                "7e6995508c9e5007",
                "5316bc4a49ec3ce6"
            ]
        ]
    },
    {
        "id": "bf37a5fe2bb8ce58",
        "type": "ui_led",
        "z": "4f5b0833ab0a95bb",
        "order": 6,
        "group": "0d054da8a009aaec",
        "width": 0,
        "height": 0,
        "label": "Pump",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#919191",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "#dea900",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": false,
        "name": "led pump",
        "x": 520,
        "y": 540,
        "wires": []
    },
    {
        "id": "f99e6ed654942297",
        "type": "ui_led",
        "z": "4f5b0833ab0a95bb",
        "order": 2,
        "group": "0d054da8a009aaec",
        "width": 0,
        "height": 0,
        "label": "Inverter",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#919191",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "#dea900",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": false,
        "name": "led inverter",
        "x": 530,
        "y": 220,
        "wires": []
    },
    {
        "id": "b0260cf5f7d40e3f",
        "type": "ui_led",
        "z": "4f5b0833ab0a95bb",
        "order": 7,
        "group": "0d054da8a009aaec",
        "width": 0,
        "height": 0,
        "label": "Valve 1",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#919191",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "#dea900",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": false,
        "name": "led valve 1",
        "x": 530,
        "y": 300,
        "wires": []
    },
    {
        "id": "c06e6151d88611fc",
        "type": "ui_led",
        "z": "4f5b0833ab0a95bb",
        "order": 8,
        "group": "0d054da8a009aaec",
        "width": 3,
        "height": 5,
        "label": "Valve 2",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#919191",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "#dea900",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": false,
        "name": "led valve 2",
        "x": 530,
        "y": 260,
        "wires": []
    },
    {
        "id": "87b6939a962348ba",
        "type": "ui_led",
        "z": "4f5b0833ab0a95bb",
        "order": 4,
        "group": "0d054da8a009aaec",
        "width": 0,
        "height": 0,
        "label": "Leisure charger",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#919191",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "#dea900",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": false,
        "name": "led leisure charger",
        "x": 550,
        "y": 420,
        "wires": []
    },
    {
        "id": "8ce1885ebf3009ea",
        "type": "ui_led",
        "z": "4f5b0833ab0a95bb",
        "order": 3,
        "group": "0d054da8a009aaec",
        "width": 0,
        "height": 0,
        "label": "Fridge",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#919191",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "#dea900",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": false,
        "name": "led fridge",
        "x": 520,
        "y": 460,
        "wires": []
    },
    {
        "id": "8cceda34fc71ed1d",
        "type": "ui_led",
        "z": "4f5b0833ab0a95bb",
        "order": 5,
        "group": "0d054da8a009aaec",
        "width": 0,
        "height": 0,
        "label": "Starter Charger",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#919191",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "#dea900",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": false,
        "name": "led starter charger",
        "x": 550,
        "y": 500,
        "wires": []
    },
    {
        "id": "eab68d389e1a065c",
        "type": "ui_led",
        "z": "4f5b0833ab0a95bb",
        "order": 1,
        "group": "7dbe224d7e5b35ba",
        "width": 0,
        "height": 0,
        "label": "Switch 1",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#919191",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "#dea900",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": false,
        "name": "switch 1",
        "x": 1280,
        "y": 500,
        "wires": []
    },
    {
        "id": "0945f3e61888262a",
        "type": "ui_led",
        "z": "4f5b0833ab0a95bb",
        "order": 2,
        "group": "7dbe224d7e5b35ba",
        "width": 0,
        "height": 0,
        "label": "Switch 2",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#919191",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "#dea900",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": false,
        "name": "switch 2",
        "x": 1280,
        "y": 380,
        "wires": []
    },
    {
        "id": "582cac66052d220d",
        "type": "ui_led",
        "z": "4f5b0833ab0a95bb",
        "order": 3,
        "group": "7dbe224d7e5b35ba",
        "width": 0,
        "height": 0,
        "label": "Switch 3",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#919191",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "#dea900",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": false,
        "name": "switch 3",
        "x": 1280,
        "y": 460,
        "wires": []
    },
    {
        "id": "5316bc4a49ec3ce6",
        "type": "ui_led",
        "z": "4f5b0833ab0a95bb",
        "order": 4,
        "group": "7dbe224d7e5b35ba",
        "width": 0,
        "height": 0,
        "label": "Switch 4",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#919191",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "#dea900",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": false,
        "name": "switch 4",
        "x": 1280,
        "y": 420,
        "wires": []
    },
    {
        "id": "6bc7e1972f7c6f09",
        "type": "ui_led",
        "z": "4f5b0833ab0a95bb",
        "order": 6,
        "group": "7dbe224d7e5b35ba",
        "width": 0,
        "height": 0,
        "label": "Door Sensor",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#919191",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "#dea900",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": false,
        "name": "door sensor",
        "x": 1290,
        "y": 260,
        "wires": []
    },
    {
        "id": "955caaecde7179d9",
        "type": "ui_led",
        "z": "4f5b0833ab0a95bb",
        "order": 5,
        "group": "7dbe224d7e5b35ba",
        "width": 0,
        "height": 0,
        "label": "Kitchen Switch",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#919191",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "#dea900",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": false,
        "name": "kitchen switch",
        "x": 1300,
        "y": 340,
        "wires": []
    },
    {
        "id": "13cfc5ece438a9f2",
        "type": "ui_led",
        "z": "4f5b0833ab0a95bb",
        "order": 7,
        "group": "7dbe224d7e5b35ba",
        "width": 3,
        "height": 6,
        "label": "Ignition",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#919191",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "#dea900",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": false,
        "name": "ignition",
        "x": 1280,
        "y": 180,
        "wires": []
    },
    {
        "id": "54f0d8d906d373c6",
        "type": "change",
        "z": "4f5b0833ab0a95bb",
        "name": "door sensor",
        "rules": [
            {
                "t": "set",
                "p": "status.door_sensor",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            },
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "0",
                "fromt": "num",
                "to": "true",
                "tot": "bool"
            },
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "1",
                "fromt": "num",
                "to": "false",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1050,
        "y": 280,
        "wires": [
            [
                "6bc7e1972f7c6f09",
                "697021be5ce94774"
            ]
        ]
    },
    {
        "id": "d947cbfaf62684b6",
        "type": "PCA9685 out",
        "z": "4f5b0833ab0a95bb",
        "g": "f93b0d515e50b6cf",
        "name": "",
        "pca9685": "e6b261de3d937e74",
        "channel": "0",
        "payload": "",
        "unit": "percent",
        "onStep": "0",
        "x": 1260,
        "y": 800,
        "wires": []
    },
    {
        "id": "44e87c730b602fb5",
        "type": "ui_slider",
        "z": "4f5b0833ab0a95bb",
        "g": "f93b0d515e50b6cf",
        "name": "main light",
        "label": "",
        "tooltip": "",
        "group": "23c60b13edc12513",
        "order": 2,
        "width": "7",
        "height": "1",
        "passthru": true,
        "outs": "end",
        "topic": "topic",
        "topicType": "msg",
        "min": 0,
        "max": "100",
        "step": "5",
        "className": "",
        "x": 480,
        "y": 800,
        "wires": [
            [
                "4a1369f77b454bcd"
            ]
        ]
    },
    {
        "id": "4a1369f77b454bcd",
        "type": "change",
        "z": "4f5b0833ab0a95bb",
        "g": "f93b0d515e50b6cf",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "pwm.main_light",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "true",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 700,
        "y": 800,
        "wires": [
            [
                "3662bbabcf55b91f"
            ]
        ]
    },
    {
        "id": "3662bbabcf55b91f",
        "type": "function",
        "z": "4f5b0833ab0a95bb",
        "g": "f93b0d515e50b6cf",
        "name": "set pwm value",
        "func": "if(msg.payload === true){\n    msg.payload = flow.get(\"pwm.main_light\");\n}else{\n    msg.payload = 0;\n}\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1040,
        "y": 800,
        "wires": [
            [
                "d947cbfaf62684b6"
            ]
        ]
    },
    {
        "id": "db348f41992c6d47",
        "type": "link in",
        "z": "4f5b0833ab0a95bb",
        "g": "f93b0d515e50b6cf",
        "name": "",
        "links": [
            "5ec99543396b4c4a"
        ],
        "x": 895,
        "y": 780,
        "wires": [
            [
                "3662bbabcf55b91f"
            ]
        ]
    },
    {
        "id": "78f649f98f7b1168",
        "type": "inject",
        "z": "4f5b0833ab0a95bb",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "50",
        "payloadType": "num",
        "x": 290,
        "y": 700,
        "wires": [
            [
                "44e87c730b602fb5",
                "cc46016ddf54fa22",
                "92b3cc025d4102a5",
                "8c8cccf47c37b852",
                "8606a9d0f4e58377"
            ]
        ]
    },
    {
        "id": "77ee5917b38765fa",
        "type": "change",
        "z": "4f5b0833ab0a95bb",
        "name": "ignition",
        "rules": [
            {
                "t": "set",
                "p": "status.ignition",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1100,
        "y": 100,
        "wires": [
            []
        ]
    },
    {
        "id": "de58fdee4a97426e",
        "type": "ui_led",
        "z": "8f469e385c0b1581",
        "order": 1,
        "group": "0d054da8a009aaec",
        "width": 0,
        "height": 0,
        "label": " Hearbeat",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "false",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "heartbeat led",
        "x": 670,
        "y": 620,
        "wires": []
    },
    {
        "id": "ea0b04e0ab834965",
        "type": "change",
        "z": "8f469e385c0b1581",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "true",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 460,
        "y": 620,
        "wires": [
            [
                "de58fdee4a97426e"
            ]
        ]
    },
    {
        "id": "fdf26d8c609cb026",
        "type": "delay",
        "z": "8f469e385c0b1581",
        "name": "",
        "pauseType": "delay",
        "timeout": "500",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 270,
        "y": 620,
        "wires": [
            [
                "ea0b04e0ab834965"
            ]
        ]
    },
    {
        "id": "11c114f036427956",
        "type": "inject",
        "z": "8f469e385c0b1581",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "2",
        "crontab": "",
        "once": true,
        "onceDelay": "0.5",
        "topic": "",
        "payload": "false",
        "payloadType": "bool",
        "x": 90,
        "y": 640,
        "wires": [
            [
                "de58fdee4a97426e",
                "fdf26d8c609cb026"
            ]
        ]
    },
    {
        "id": "848ecc1735fcf157",
        "type": "exec",
        "z": "8f469e385c0b1581",
        "command": "sudo shutdown now",
        "addpay": "",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "",
        "x": 1220,
        "y": 140,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "e779a04a152be8e7",
        "type": "ui_button",
        "z": "8f469e385c0b1581",
        "name": "",
        "group": "6fd6f055a36d0f78",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "System shutdown",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 950,
        "y": 140,
        "wires": [
            [
                "848ecc1735fcf157"
            ]
        ]
    },
    {
        "id": "c04f6d51505bc927",
        "type": "comment",
        "z": "8f469e385c0b1581",
        "name": "status",
        "info": "",
        "x": 90,
        "y": 100,
        "wires": []
    },
    {
        "id": "7b9269056f7d9c81",
        "type": "comment",
        "z": "8f469e385c0b1581",
        "name": "general settings",
        "info": "",
        "x": 940,
        "y": 100,
        "wires": []
    },
    {
        "id": "b5ea178a830b30d7",
        "type": "exec",
        "z": "8f469e385c0b1581",
        "command": "sudo reboot",
        "addpay": "",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "",
        "x": 1190,
        "y": 200,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "ed23cd5c9b8813d6",
        "type": "ui_button",
        "z": "8f469e385c0b1581",
        "name": "",
        "group": "6fd6f055a36d0f78",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "System reboot",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 940,
        "y": 200,
        "wires": [
            [
                "b5ea178a830b30d7"
            ]
        ]
    },
    {
        "id": "29b2917c6d628102",
        "type": "function",
        "z": "c6c05e7764275064",
        "name": "Inverter Logic",
        "func": "/**\n * Inverter indirect needed for fridge and victron charger\n * Can also be manually used with the 230V outlet\n * This node is the only place where the inverter should be turned on or off\n */\n\nconst values = flow.get(\"values\");\n\nif(values.leisureCharger || values.fridge || values.inverter){\n    //turn on inverter\n    msg.payload = true;\n} else{\n    // turn off inverter\n    msg.payload = false\n}\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 780,
        "y": 260,
        "wires": [
            [
                "dabafd105a9b99a2"
            ]
        ]
    },
    {
        "id": "de22dce2df13f5f3",
        "type": "link in",
        "z": "c6c05e7764275064",
        "name": "high_voltage_control",
        "links": [
            "3184fc21642792b4",
            "819f986947063229",
            "7e6995508c9e5007"
        ],
        "x": 75,
        "y": 260,
        "wires": [
            [
                "6f4c7c39abcdbe77"
            ]
        ]
    },
    {
        "id": "6f4c7c39abcdbe77",
        "type": "switch",
        "z": "c6c05e7764275064",
        "name": "sort topic",
        "property": "topic",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "fridge",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "inverter",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "leisureCharger",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 3,
        "x": 200,
        "y": 260,
        "wires": [
            [
                "c33746b96c6e04df"
            ],
            [
                "d944fbf6007f48e5"
            ],
            [
                "13dfd366d6413abe"
            ]
        ]
    },
    {
        "id": "d944fbf6007f48e5",
        "type": "change",
        "z": "c6c05e7764275064",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "values.inverter",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "delay",
                "pt": "msg",
                "to": "delay",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 420,
        "y": 260,
        "wires": [
            [
                "29b2917c6d628102"
            ]
        ]
    },
    {
        "id": "c33746b96c6e04df",
        "type": "change",
        "z": "c6c05e7764275064",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "values.fridge",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "delay",
                "pt": "msg",
                "to": "delay",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 420,
        "y": 140,
        "wires": [
            [
                "29b2917c6d628102",
                "0ea2365d185441a4"
            ]
        ]
    },
    {
        "id": "13dfd366d6413abe",
        "type": "change",
        "z": "c6c05e7764275064",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "values.leisureCharger",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "delay",
                "pt": "msg",
                "to": "delay",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 420,
        "y": 380,
        "wires": [
            [
                "29b2917c6d628102",
                "51b801b4c2d1aa62"
            ]
        ]
    },
    {
        "id": "4cc17cb982627297",
        "type": "link out",
        "z": "c6c05e7764275064",
        "name": "inverter_gpio",
        "mode": "link",
        "links": [
            "4ab78910fec37e29",
            "17bee388142753a4"
        ],
        "x": 1725,
        "y": 260,
        "wires": []
    },
    {
        "id": "b7cf9b03e44d3585",
        "type": "switch",
        "z": "c6c05e7764275064",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "true"
            },
            {
                "t": "false"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 1110,
        "y": 260,
        "wires": [
            [
                "4a479cf35d4a8c62"
            ],
            [
                "256bf3bc80ce2e9a"
            ]
        ]
    },
    {
        "id": "256bf3bc80ce2e9a",
        "type": "delay",
        "z": "c6c05e7764275064",
        "name": "",
        "pauseType": "delayv",
        "timeout": "2",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 1280,
        "y": 300,
        "wires": [
            [
                "4a479cf35d4a8c62"
            ]
        ]
    },
    {
        "id": "b7f3b176e4b124f4",
        "type": "link out",
        "z": "c6c05e7764275064",
        "name": "fridge_gpio",
        "mode": "link",
        "links": [
            "e8ee6714fa622f88"
        ],
        "x": 1725,
        "y": 140,
        "wires": []
    },
    {
        "id": "0ea2365d185441a4",
        "type": "switch",
        "z": "c6c05e7764275064",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "true"
            },
            {
                "t": "false"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 1110,
        "y": 140,
        "wires": [
            [
                "0464139bce875fe9"
            ],
            [
                "5edbaec9e33e71c5"
            ]
        ]
    },
    {
        "id": "0464139bce875fe9",
        "type": "delay",
        "z": "c6c05e7764275064",
        "name": "",
        "pauseType": "delayv",
        "timeout": "2",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 1280,
        "y": 120,
        "wires": [
            [
                "5edbaec9e33e71c5"
            ]
        ]
    },
    {
        "id": "5f7d5aaa077569f7",
        "type": "link out",
        "z": "c6c05e7764275064",
        "name": "leisureCharger_gpio",
        "mode": "link",
        "links": [
            "c7ddfcd77752d339"
        ],
        "x": 1725,
        "y": 380,
        "wires": []
    },
    {
        "id": "51b801b4c2d1aa62",
        "type": "switch",
        "z": "c6c05e7764275064",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "true"
            },
            {
                "t": "false"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 1110,
        "y": 380,
        "wires": [
            [
                "ce8265e8540cf78c"
            ],
            [
                "b4f1144021fdb636"
            ]
        ]
    },
    {
        "id": "ce8265e8540cf78c",
        "type": "delay",
        "z": "c6c05e7764275064",
        "name": "",
        "pauseType": "delayv",
        "timeout": "2",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 1280,
        "y": 360,
        "wires": [
            [
                "b4f1144021fdb636"
            ]
        ]
    },
    {
        "id": "dabafd105a9b99a2",
        "type": "rbe",
        "z": "c6c05e7764275064",
        "name": "change",
        "func": "rbe",
        "gap": "",
        "start": "",
        "inout": "out",
        "septopics": true,
        "property": "payload",
        "topi": "topic",
        "x": 960,
        "y": 260,
        "wires": [
            [
                "b7cf9b03e44d3585"
            ]
        ]
    },
    {
        "id": "b4f1144021fdb636",
        "type": "change",
        "z": "c6c05e7764275064",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "status.leisureCharger",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1530,
        "y": 380,
        "wires": [
            [
                "5f7d5aaa077569f7"
            ]
        ]
    },
    {
        "id": "4a479cf35d4a8c62",
        "type": "change",
        "z": "c6c05e7764275064",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "status.inverter",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1510,
        "y": 260,
        "wires": [
            [
                "4cc17cb982627297",
                "82b169af60c9764e"
            ]
        ]
    },
    {
        "id": "5edbaec9e33e71c5",
        "type": "change",
        "z": "c6c05e7764275064",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "status.fridge",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1500,
        "y": 140,
        "wires": [
            [
                "b7f3b176e4b124f4",
                "da904e29cb9967fe"
            ]
        ]
    },
    {
        "id": "82b169af60c9764e",
        "type": "ui_led",
        "z": "c6c05e7764275064",
        "order": 7,
        "group": "af392092454b5034",
        "width": "5",
        "height": "1",
        "label": "Inverter",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#919191",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "#dea900",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": false,
        "name": "led inverter",
        "x": 1770,
        "y": 300,
        "wires": []
    },
    {
        "id": "da904e29cb9967fe",
        "type": "ui_led",
        "z": "c6c05e7764275064",
        "order": 6,
        "group": "af392092454b5034",
        "width": "5",
        "height": "1",
        "label": "Compressor",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#919191",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "#dea900",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": false,
        "name": "led fridge",
        "x": 1760,
        "y": 180,
        "wires": []
    },
    {
        "id": "c17e3b9391531959",
        "type": "ui_slider",
        "z": "c6c05e7764275064",
        "name": "",
        "label": "Inverter delay in seconds",
        "tooltip": "inverter between changing inverter state and high voltage applicances",
        "group": "6fd6f055a36d0f78",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "end",
        "topic": "topic",
        "topicType": "msg",
        "min": 0,
        "max": 10,
        "step": 1,
        "className": "",
        "x": 390,
        "y": 560,
        "wires": [
            [
                "dde0df7a45b74b3f"
            ]
        ]
    },
    {
        "id": "18c76b5fd46a5af4",
        "type": "inject",
        "z": "c6c05e7764275064",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "2",
        "payloadType": "num",
        "x": 190,
        "y": 560,
        "wires": [
            [
                "c17e3b9391531959"
            ]
        ]
    },
    {
        "id": "dde0df7a45b74b3f",
        "type": "function",
        "z": "c6c05e7764275064",
        "name": "save value",
        "func": "flow.set(\"delay\", msg.payload*1000);\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 610,
        "y": 560,
        "wires": [
            []
        ]
    },
    {
        "id": "143af96df2bb2cd9",
        "type": "comment",
        "z": "c6c05e7764275064",
        "name": "settings",
        "info": "",
        "x": 190,
        "y": 520,
        "wires": []
    },
    {
        "id": "b2229e5dc5944aef",
        "type": "ui_dropdown",
        "z": "15311a68299dc024",
        "name": "",
        "label": "Setting",
        "tooltip": "",
        "place": "Off",
        "group": "af392092454b5034",
        "order": 5,
        "width": "5",
        "height": "1",
        "passthru": true,
        "multiple": false,
        "options": [
            {
                "label": "Off",
                "value": false,
                "type": "bool"
            },
            {
                "label": "On",
                "value": true,
                "type": "bool"
            },
            {
                "label": "Auto(when ignition is on)",
                "value": "auto",
                "type": "str"
            }
        ],
        "payload": "",
        "topic": "topic",
        "topicType": "msg",
        "className": "",
        "x": 380,
        "y": 80,
        "wires": [
            [
                "e697ed0b4940fdd2",
                "a9c76782de77f2d3"
            ]
        ]
    },
    {
        "id": "a61ae7040267586a",
        "type": "ui_gauge",
        "z": "15311a68299dc024",
        "name": "fridge temp",
        "group": "af392092454b5034",
        "order": 1,
        "width": "5",
        "height": "5",
        "gtype": "donut",
        "title": "",
        "label": "C°",
        "format": "{{value}}",
        "min": "-20",
        "max": "20",
        "colors": [
            "#00fdff",
            "#00f900",
            "#ca3838"
        ],
        "seg1": "0",
        "seg2": "6",
        "diff": false,
        "className": "",
        "x": 390,
        "y": 260,
        "wires": []
    },
    {
        "id": "05ade75e1ba4a9f0",
        "type": "link in",
        "z": "15311a68299dc024",
        "name": "fridge_temp",
        "links": [
            "4562a99cb7e72896"
        ],
        "x": 185,
        "y": 260,
        "wires": [
            [
                "a61ae7040267586a",
                "a9c76782de77f2d3"
            ]
        ]
    },
    {
        "id": "6371b576797132a9",
        "type": "ui_slider",
        "z": "15311a68299dc024",
        "name": "",
        "label": "Upper temperature threshold           svkmfd vdjvnd",
        "tooltip": "",
        "group": "466866a9d24aa546",
        "order": 1,
        "width": 7,
        "height": 2,
        "passthru": true,
        "outs": "end",
        "topic": "topic",
        "topicType": "msg",
        "min": "-10",
        "max": "15",
        "step": 1,
        "className": "",
        "x": 430,
        "y": 380,
        "wires": [
            [
                "a7cbc6a832925664"
            ]
        ]
    },
    {
        "id": "932d0b15c2f26574",
        "type": "ui_slider",
        "z": "15311a68299dc024",
        "name": "",
        "label": "Lower temperature threshold",
        "tooltip": "",
        "group": "466866a9d24aa546",
        "order": 2,
        "width": 7,
        "height": 2,
        "passthru": true,
        "outs": "end",
        "topic": "topic",
        "topicType": "msg",
        "min": "-10",
        "max": "15",
        "step": 1,
        "className": "",
        "x": 380,
        "y": 420,
        "wires": [
            [
                "49fbd3a192947c76"
            ]
        ]
    },
    {
        "id": "49fbd3a192947c76",
        "type": "change",
        "z": "15311a68299dc024",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "lower_temp",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 640,
        "y": 420,
        "wires": [
            []
        ]
    },
    {
        "id": "a7cbc6a832925664",
        "type": "change",
        "z": "15311a68299dc024",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "upper_temp",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 640,
        "y": 380,
        "wires": [
            []
        ]
    },
    {
        "id": "e697ed0b4940fdd2",
        "type": "change",
        "z": "15311a68299dc024",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "setting",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 580,
        "y": 80,
        "wires": [
            []
        ]
    },
    {
        "id": "a9c76782de77f2d3",
        "type": "function",
        "z": "15311a68299dc024",
        "name": "algorithm",
        "func": "let setting = flow.get(\"setting\");\nlet upper_temp = flow.get(\"upper_temp\");\nlet lower_temp = flow.get(\"lower_temp\");\nlet temp = global.get(\"sensors.fridge_temp\");\nlet ignition = global.get(\"status.ignition\");\nlet compressor = global.get(\"status.fridge\");\nmsg.payload = compressor;\n\nif(setting === \"auto\") setting = ignition;\n\nif(setting === true){\n    if (temp >= upper_temp) msg.payload = true\n    else if (temp < lower_temp) msg.payload = false\n} else msg.payload = false\n\nmsg.topic = \"fridge\";\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 380,
        "y": 180,
        "wires": [
            [
                "13fb75ced343ae86"
            ]
        ]
    },
    {
        "id": "13fb75ced343ae86",
        "type": "rbe",
        "z": "15311a68299dc024",
        "name": "on change filter",
        "func": "rbe",
        "gap": "",
        "start": "",
        "inout": "out",
        "septopics": true,
        "property": "payload",
        "topi": "topic",
        "x": 580,
        "y": 180,
        "wires": [
            [
                "3184fc21642792b4"
            ]
        ]
    },
    {
        "id": "3184fc21642792b4",
        "type": "link out",
        "z": "15311a68299dc024",
        "name": "fridge_out",
        "mode": "link",
        "links": [
            "de22dce2df13f5f3"
        ],
        "x": 745,
        "y": 180,
        "wires": []
    },
    {
        "id": "d50f0dfed5ccee9d",
        "type": "inject",
        "z": "15311a68299dc024",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "auto",
        "payloadType": "str",
        "x": 250,
        "y": 80,
        "wires": [
            [
                "b2229e5dc5944aef"
            ]
        ]
    },
    {
        "id": "c1b7fabbd039452c",
        "type": "comment",
        "z": "15311a68299dc024",
        "name": "settings",
        "info": "",
        "x": 150,
        "y": 340,
        "wires": []
    },
    {
        "id": "aa2cce0e424133e8",
        "type": "inject",
        "z": "15311a68299dc024",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "6",
        "payloadType": "num",
        "x": 150,
        "y": 380,
        "wires": [
            [
                "6371b576797132a9"
            ]
        ]
    },
    {
        "id": "8eeb7cbb78217109",
        "type": "inject",
        "z": "15311a68299dc024",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "1",
        "payloadType": "num",
        "x": 150,
        "y": 420,
        "wires": [
            [
                "932d0b15c2f26574"
            ]
        ]
    },
    {
        "id": "a175a803f3969b0a",
        "type": "link in",
        "z": "15311a68299dc024",
        "name": "fridge_ignition",
        "links": [
            "ba947f4deae7306a"
        ],
        "x": 55,
        "y": 220,
        "wires": [
            [
                "8f6a175b5f9ee867",
                "e9a2b1ea2ea7af0f"
            ]
        ]
    },
    {
        "id": "8f6a175b5f9ee867",
        "type": "ui_led",
        "z": "15311a68299dc024",
        "order": 7,
        "group": "af392092454b5034",
        "width": "5",
        "height": "1",
        "label": "Ignition",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#919191",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "#dea900",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": false,
        "name": "led ignition",
        "x": 390,
        "y": 220,
        "wires": []
    },
    {
        "id": "e9a2b1ea2ea7af0f",
        "type": "delay",
        "z": "15311a68299dc024",
        "name": "",
        "pauseType": "delay",
        "timeout": "1",
        "timeoutUnits": "minutes",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 200,
        "y": 180,
        "wires": [
            [
                "a9c76782de77f2d3"
            ]
        ]
    },
    {
        "id": "0daefb168cc93c70",
        "type": "ui_led",
        "z": "7d2ee9cb73f16e0a",
        "order": 1,
        "group": "1f51103af332e4a2",
        "width": 0,
        "height": 0,
        "label": "Leisure charger",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#919191",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "#dea900",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": false,
        "name": "led leisure charger",
        "x": 1070,
        "y": 260,
        "wires": []
    },
    {
        "id": "bc2b0f423be5d0f7",
        "type": "ui_led",
        "z": "7d2ee9cb73f16e0a",
        "order": 3,
        "group": "1f51103af332e4a2",
        "width": 0,
        "height": 0,
        "label": "Starter charger",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#919191",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "#dea900",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": false,
        "name": "led starter charger",
        "x": 1070,
        "y": 300,
        "wires": []
    },
    {
        "id": "f1d8acc740a01bcf",
        "type": "ui_dropdown",
        "z": "7d2ee9cb73f16e0a",
        "name": "leisure charger",
        "label": "",
        "tooltip": "",
        "place": "Off",
        "group": "1f51103af332e4a2",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": true,
        "multiple": false,
        "options": [
            {
                "label": "Off",
                "value": false,
                "type": "bool"
            },
            {
                "label": "On",
                "value": true,
                "type": "bool"
            },
            {
                "label": "Auto(when ignition is on)",
                "value": "auto",
                "type": "str"
            }
        ],
        "payload": "",
        "topic": "setting",
        "topicType": "str",
        "className": "",
        "x": 400,
        "y": 260,
        "wires": [
            [
                "dbf6b2b61f5fb9ad"
            ]
        ]
    },
    {
        "id": "93b36a4c1af7244a",
        "type": "ui_dropdown",
        "z": "7d2ee9cb73f16e0a",
        "name": "starter charger",
        "label": "",
        "tooltip": "",
        "place": "Off",
        "group": "1f51103af332e4a2",
        "order": 4,
        "width": 0,
        "height": 0,
        "passthru": true,
        "multiple": false,
        "options": [
            {
                "label": "Off",
                "value": false,
                "type": "bool"
            },
            {
                "label": "On",
                "value": true,
                "type": "bool"
            },
            {
                "label": "Auto(when inverter is on)",
                "value": "auto",
                "type": "str"
            }
        ],
        "payload": "",
        "topic": "setting",
        "topicType": "str",
        "className": "",
        "x": 400,
        "y": 300,
        "wires": [
            [
                "dc4d808394a12441"
            ]
        ]
    },
    {
        "id": "dbf6b2b61f5fb9ad",
        "type": "function",
        "z": "7d2ee9cb73f16e0a",
        "name": "leisure algorithm",
        "func": "if(msg.topic === \"setting\") flow.set(\"leisureSetting\", msg.payload);\n\nlet ignition = global.get(\"status.ignition\");\nlet setting = flow.get(\"leisureSetting\");\n\nif(setting === \"auto\") setting = ignition;\n\nmsg.payload = setting;\nmsg.topic = \"leisureCharger\";\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 620,
        "y": 260,
        "wires": [
            [
                "eb0a646bbf6c6a87"
            ]
        ]
    },
    {
        "id": "eb0a646bbf6c6a87",
        "type": "rbe",
        "z": "7d2ee9cb73f16e0a",
        "name": "on change filter",
        "func": "rbe",
        "gap": "",
        "start": "",
        "inout": "out",
        "septopics": true,
        "property": "payload",
        "topi": "topic",
        "x": 820,
        "y": 260,
        "wires": [
            [
                "0daefb168cc93c70",
                "819f986947063229"
            ]
        ]
    },
    {
        "id": "f0eb8bb8d8825d6e",
        "type": "inject",
        "z": "7d2ee9cb73f16e0a",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "auto",
        "payloadType": "str",
        "x": 190,
        "y": 260,
        "wires": [
            [
                "f1d8acc740a01bcf"
            ]
        ]
    },
    {
        "id": "fdcc19c01c4e05ec",
        "type": "inject",
        "z": "7d2ee9cb73f16e0a",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "auto",
        "payloadType": "str",
        "x": 190,
        "y": 300,
        "wires": [
            [
                "93b36a4c1af7244a"
            ]
        ]
    },
    {
        "id": "d3e2da3d93171ad1",
        "type": "link in",
        "z": "7d2ee9cb73f16e0a",
        "name": "link in 4",
        "links": [
            "ba947f4deae7306a",
            "608b1b86a5decca9",
            "f89db17f96a0fdb4",
            "02d204d2cab60514"
        ],
        "x": 155,
        "y": 140,
        "wires": [
            [
                "1fbdea3f07502179"
            ]
        ]
    },
    {
        "id": "dc4d808394a12441",
        "type": "function",
        "z": "7d2ee9cb73f16e0a",
        "name": "starter algorithm",
        "func": "if (msg.topic === \"setting\") flow.set(\"starterSetting\", msg.payload);\n\nlet inverter = global.get(\"status.inverter\");\nlet setting = flow.get(\"starterSetting\");\nlet ignition = global.get(\"status.ignition\");\nif (setting === \"auto\") setting = inverter;\nif (ignition === true) setting = false;\nmsg.payload = setting;\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 620,
        "y": 300,
        "wires": [
            [
                "2e165710f06585f3"
            ]
        ]
    },
    {
        "id": "2e165710f06585f3",
        "type": "rbe",
        "z": "7d2ee9cb73f16e0a",
        "name": "on change filter",
        "func": "rbe",
        "gap": "",
        "start": "",
        "inout": "out",
        "septopics": true,
        "property": "payload",
        "topi": "topic",
        "x": 820,
        "y": 300,
        "wires": [
            [
                "bc2b0f423be5d0f7",
                "b571123d946be4c9"
            ]
        ]
    },
    {
        "id": "17bee388142753a4",
        "type": "link in",
        "z": "7d2ee9cb73f16e0a",
        "name": "link in 5",
        "links": [
            "4cc17cb982627297",
            "ba947f4deae7306a"
        ],
        "x": 155,
        "y": 400,
        "wires": [
            [
                "22fdd30ae7af2b4a"
            ]
        ]
    },
    {
        "id": "e17b37cda17b2758",
        "type": "delay",
        "z": "7d2ee9cb73f16e0a",
        "name": "",
        "pauseType": "delayv",
        "timeout": "60",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 420,
        "y": 340,
        "wires": [
            [
                "dc4d808394a12441"
            ]
        ]
    },
    {
        "id": "fa63dc886e9ac9e2",
        "type": "delay",
        "z": "7d2ee9cb73f16e0a",
        "name": "",
        "pauseType": "delayv",
        "timeout": "60",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 420,
        "y": 220,
        "wires": [
            [
                "dbf6b2b61f5fb9ad"
            ]
        ]
    },
    {
        "id": "113767bcd8f07e1c",
        "type": "ui_slider",
        "z": "7d2ee9cb73f16e0a",
        "name": "",
        "label": "Chargers delay in seconds",
        "tooltip": "inverter between changing inverter state and high voltage applicances",
        "group": "1f51103af332e4a2",
        "order": 5,
        "width": 7,
        "height": 2,
        "passthru": true,
        "outs": "end",
        "topic": "topic",
        "topicType": "msg",
        "min": 0,
        "max": "300",
        "step": "10",
        "className": "",
        "x": 360,
        "y": 560,
        "wires": [
            [
                "66e4d9ec7a91cd23"
            ]
        ]
    },
    {
        "id": "fe0f148165ff4361",
        "type": "inject",
        "z": "7d2ee9cb73f16e0a",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "60",
        "payloadType": "num",
        "x": 150,
        "y": 560,
        "wires": [
            [
                "113767bcd8f07e1c"
            ]
        ]
    },
    {
        "id": "66e4d9ec7a91cd23",
        "type": "function",
        "z": "7d2ee9cb73f16e0a",
        "name": "save value",
        "func": "flow.set(\"delay\", msg.payload*1000);\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 590,
        "y": 560,
        "wires": [
            []
        ]
    },
    {
        "id": "a9811caf9d240d10",
        "type": "comment",
        "z": "7d2ee9cb73f16e0a",
        "name": "settings",
        "info": "",
        "x": 150,
        "y": 520,
        "wires": []
    },
    {
        "id": "22fdd30ae7af2b4a",
        "type": "change",
        "z": "7d2ee9cb73f16e0a",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "delay",
                "pt": "msg",
                "to": "delay",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 220,
        "y": 340,
        "wires": [
            [
                "e17b37cda17b2758"
            ]
        ]
    },
    {
        "id": "1fbdea3f07502179",
        "type": "change",
        "z": "7d2ee9cb73f16e0a",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "delay",
                "pt": "msg",
                "to": "delay",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 220,
        "y": 220,
        "wires": [
            [
                "fa63dc886e9ac9e2"
            ]
        ]
    },
    {
        "id": "819f986947063229",
        "type": "link out",
        "z": "7d2ee9cb73f16e0a",
        "name": "link out 1",
        "mode": "link",
        "links": [
            "de22dce2df13f5f3"
        ],
        "x": 995,
        "y": 220,
        "wires": []
    },
    {
        "id": "b571123d946be4c9",
        "type": "link out",
        "z": "7d2ee9cb73f16e0a",
        "name": "link out 2",
        "mode": "link",
        "links": [
            "cc4732aab186fe6e"
        ],
        "x": 995,
        "y": 340,
        "wires": []
    },
    {
        "id": "b4c35b2e757c1d11",
        "type": "ui_gauge",
        "z": "13952ff3682a9fc4",
        "name": "water level",
        "group": "689ec1180c141d67",
        "order": 1,
        "width": "10",
        "height": "5",
        "gtype": "wave",
        "title": "",
        "label": "l",
        "format": "{{value}}",
        "min": 0,
        "max": "60",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 1270,
        "y": 220,
        "wires": []
    },
    {
        "id": "fc2dde5f98b3403e",
        "type": "link out",
        "z": "13952ff3682a9fc4",
        "name": "valve_0_gpio",
        "mode": "link",
        "links": [
            "1101cf3640e2ece0"
        ],
        "x": 1095,
        "y": 420,
        "wires": []
    },
    {
        "id": "bc64d185a368e816",
        "type": "link in",
        "z": "13952ff3682a9fc4",
        "name": "hardware_state_trigger",
        "links": [
            "48f32c625a731684",
            "e9f912577a5edc23"
        ],
        "x": 695,
        "y": 420,
        "wires": [
            [
                "4f1524a1e922f485"
            ]
        ]
    },
    {
        "id": "4f1524a1e922f485",
        "type": "change",
        "z": "13952ff3682a9fc4",
        "name": "get water counter",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "water_meter_cnt",
                "tot": "global"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 910,
        "y": 220,
        "wires": [
            [
                "c137f6a704608c74"
            ]
        ]
    },
    {
        "id": "4bd594781653cbd1",
        "type": "change",
        "z": "13952ff3682a9fc4",
        "name": "reset water counter",
        "rules": [
            {
                "t": "set",
                "p": "water_meter_cnt",
                "pt": "flow",
                "to": "0",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 670,
        "y": 220,
        "wires": [
            [
                "4f1524a1e922f485"
            ]
        ]
    },
    {
        "id": "c137f6a704608c74",
        "type": "function",
        "z": "13952ff3682a9fc4",
        "name": "conversion",
        "func": "\nconst capacity = 15.0;\nvar consumed_in_l = msg.payload/500.0;\nmsg.payload = capacity - consumed_in_l;\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1110,
        "y": 220,
        "wires": [
            [
                "b4c35b2e757c1d11"
            ]
        ]
    },
    {
        "id": "5a39df5cc1fe2616",
        "type": "ui_button",
        "z": "13952ff3682a9fc4",
        "name": "",
        "group": "689ec1180c141d67",
        "order": 3,
        "width": "4",
        "height": 1,
        "passthru": false,
        "label": "Reset",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 290,
        "y": 220,
        "wires": [
            [
                "4bd594781653cbd1"
            ]
        ]
    },
    {
        "id": "68c5af39b6d9781e",
        "type": "ui_switch",
        "z": "13952ff3682a9fc4",
        "name": "",
        "label": "Internal tank",
        "tooltip": "",
        "group": "689ec1180c141d67",
        "order": 2,
        "width": "3",
        "height": 1,
        "passthru": false,
        "decouple": "false",
        "topic": "",
        "topicType": "str",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 930,
        "y": 460,
        "wires": [
            [
                "d850506da8fb975c"
            ]
        ]
    },
    {
        "id": "12996cef4976cab0",
        "type": "ui_switch",
        "z": "13952ff3682a9fc4",
        "name": "",
        "label": "External Tank",
        "tooltip": "",
        "group": "689ec1180c141d67",
        "order": 4,
        "width": "3",
        "height": 1,
        "passthru": false,
        "decouple": "false",
        "topic": "aux_output",
        "topicType": "str",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 940,
        "y": 420,
        "wires": [
            [
                "fc2dde5f98b3403e"
            ]
        ]
    },
    {
        "id": "10799c20c2d92595",
        "type": "random",
        "z": "13952ff3682a9fc4",
        "name": "",
        "low": "0",
        "high": "60",
        "inte": "true",
        "property": "payload",
        "x": 940,
        "y": 120,
        "wires": [
            [
                "b4c35b2e757c1d11"
            ]
        ]
    },
    {
        "id": "1535d33324d63d8f",
        "type": "ui_slider",
        "z": "13952ff3682a9fc4",
        "name": "",
        "label": "Fresh water tank capacity in liters",
        "tooltip": "",
        "group": "25087c53b8fc6993",
        "order": 1,
        "width": 7,
        "height": 2,
        "passthru": true,
        "outs": "end",
        "topic": "topic",
        "topicType": "msg",
        "min": 0,
        "max": "100",
        "step": 1,
        "className": "",
        "x": 380,
        "y": 260,
        "wires": [
            [
                "4d34a17143a2c355"
            ]
        ]
    },
    {
        "id": "853d176b30c65b57",
        "type": "inject",
        "z": "13952ff3682a9fc4",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "60",
        "payloadType": "num",
        "x": 150,
        "y": 260,
        "wires": [
            [
                "1535d33324d63d8f"
            ]
        ]
    },
    {
        "id": "4d34a17143a2c355",
        "type": "change",
        "z": "13952ff3682a9fc4",
        "name": "set tank capacity",
        "rules": [
            {
                "t": "set",
                "p": "tank_capacity",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 670,
        "y": 260,
        "wires": [
            [
                "4f1524a1e922f485"
            ]
        ]
    },
    {
        "id": "d850506da8fb975c",
        "type": "link out",
        "z": "13952ff3682a9fc4",
        "name": "valve_1_gpio",
        "mode": "link",
        "links": [
            "1101cf3640e2ece0"
        ],
        "x": 1095,
        "y": 460,
        "wires": []
    },
    {
        "id": "c26791e7295a5c67",
        "type": "link out",
        "z": "13952ff3682a9fc4",
        "name": "valve_1_gpio",
        "mode": "link",
        "links": [
            "57aee4dc74f81aab"
        ],
        "x": 1095,
        "y": 500,
        "wires": []
    },
    {
        "id": "90ac10f75058bd6c",
        "type": "ui_gauge",
        "z": "13952ff3682a9fc4",
        "g": "cd72b915c94ff1a4",
        "name": "temp_in",
        "group": "57ca5f37d1ee1a2a",
        "order": 1,
        "width": "5",
        "height": 5,
        "gtype": "donut",
        "title": "",
        "label": "In C°",
        "format": "{{value}}",
        "min": "-15",
        "max": "45",
        "colors": [
            "#dea900",
            "#dea900",
            "#dea900"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 560,
        "y": 560,
        "wires": []
    },
    {
        "id": "0ddebecdce249942",
        "type": "ui_gauge",
        "z": "13952ff3682a9fc4",
        "g": "cd72b915c94ff1a4",
        "name": "temp_out",
        "group": "57ca5f37d1ee1a2a",
        "order": 2,
        "width": "4",
        "height": 5,
        "gtype": "donut",
        "title": "",
        "label": "Out C°",
        "format": "{{value}}",
        "min": "-15",
        "max": "45",
        "colors": [
            "#dea900",
            "#dea900",
            "#dea900"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 560,
        "y": 520,
        "wires": []
    },
    {
        "id": "70d8484d067914b5",
        "type": "link in",
        "z": "13952ff3682a9fc4",
        "g": "cd72b915c94ff1a4",
        "name": "temp_in",
        "links": [
            "e6ea961978efc0f1"
        ],
        "x": 435,
        "y": 520,
        "wires": [
            [
                "0ddebecdce249942"
            ]
        ]
    },
    {
        "id": "85a8f1a036b01587",
        "type": "link in",
        "z": "13952ff3682a9fc4",
        "g": "cd72b915c94ff1a4",
        "name": "temp_in",
        "links": [
            "e4055112bf86b97c"
        ],
        "x": 435,
        "y": 560,
        "wires": [
            [
                "90ac10f75058bd6c"
            ]
        ]
    },
    {
        "id": "89c7b98f77611e37",
        "type": "inject",
        "z": "13952ff3682a9fc4",
        "name": "",
        "props": [
            {
                "p": "enabled",
                "v": "false",
                "vt": "bool"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "x": 150,
        "y": 100,
        "wires": [
            [
                "5a39df5cc1fe2616",
                "1535d33324d63d8f",
                "12996cef4976cab0",
                "68c5af39b6d9781e",
                "b4c35b2e757c1d11"
            ]
        ]
    },
    {
        "id": "49f184367216d935",
        "type": "ui_gauge",
        "z": "68eb8e61689f5b6b",
        "g": "eaf8bdbc0b32a5bb",
        "name": "Solar Power",
        "group": "e132481549413258",
        "order": 1,
        "width": "10",
        "height": "4",
        "gtype": "gage",
        "title": "Solar",
        "label": "W",
        "format": "{{msg.payload.PPV}}",
        "min": 0,
        "max": "200",
        "colors": [
            "#dea900",
            "#dea900",
            "#dea900"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 550,
        "y": 80,
        "wires": []
    },
    {
        "id": "8a9f649dd8a4d08e",
        "type": "ui_text",
        "z": "68eb8e61689f5b6b",
        "g": "eaf8bdbc0b32a5bb",
        "group": "847e6ebb38b5779a",
        "order": 9,
        "width": 0,
        "height": 0,
        "name": "mppt state",
        "label": "MPPT State",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 550,
        "y": 120,
        "wires": []
    },
    {
        "id": "2ad8b7343dd5697e",
        "type": "link in",
        "z": "68eb8e61689f5b6b",
        "g": "eaf8bdbc0b32a5bb",
        "name": "broadcast_data",
        "links": [
            "7b77d1ea2e1d6b18"
        ],
        "x": 145,
        "y": 280,
        "wires": [
            [
                "49f184367216d935",
                "23862c18ac493199",
                "0dfd21a273207c9f",
                "11134be126d8a9e0",
                "3809706fd2674d67",
                "7510582f92b6dfdd",
                "494b9f025a690547",
                "3be3ad5243d93026",
                "d6785ee679911bd6",
                "0a679e414a51a829"
            ]
        ]
    },
    {
        "id": "23862c18ac493199",
        "type": "function",
        "z": "68eb8e61689f5b6b",
        "g": "eaf8bdbc0b32a5bb",
        "name": "Parser",
        "func": "switch(msg.payload.CS){\n    case \"0\":\n        return {payload:\"Off\"};\n    case \"2\":\n        return {payload:\"Fault\"};\n    case\"3\":\n        return {payload:\"Bulk\"};\n    case \"4\":\n        return {payload:\"Absorption\"};\n    case \"5\":\n        return {payload:\"Float\"};\n    default:\n        return {payload:\"Other\"};\n}",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 390,
        "y": 120,
        "wires": [
            [
                "8a9f649dd8a4d08e"
            ]
        ]
    },
    {
        "id": "afd54341bce38b3e",
        "type": "ui_gauge",
        "z": "68eb8e61689f5b6b",
        "g": "eaf8bdbc0b32a5bb",
        "name": "Battery Power",
        "group": "e132481549413258",
        "order": 2,
        "width": "10",
        "height": "4",
        "gtype": "gage",
        "title": "Battery",
        "label": "W",
        "format": "{{value}}",
        "min": "0",
        "max": "200",
        "colors": [
            "#ff9300",
            "#595959",
            "#00f900"
        ],
        "seg1": "-1",
        "seg2": "1",
        "diff": false,
        "className": "",
        "x": 560,
        "y": 160,
        "wires": []
    },
    {
        "id": "8df345a7f0caaad9",
        "type": "ui_gauge",
        "z": "68eb8e61689f5b6b",
        "g": "eaf8bdbc0b32a5bb",
        "name": "Load Power",
        "group": "e132481549413258",
        "order": 3,
        "width": "10",
        "height": "4",
        "gtype": "gage",
        "title": "Load",
        "label": "W",
        "format": "{{value}}",
        "min": "0",
        "max": "200",
        "colors": [
            "#00f900",
            "#00f900",
            "#ff9300"
        ],
        "seg1": "",
        "seg2": "150",
        "diff": false,
        "className": "",
        "x": 550,
        "y": 200,
        "wires": []
    },
    {
        "id": "11134be126d8a9e0",
        "type": "function",
        "z": "68eb8e61689f5b6b",
        "g": "eaf8bdbc0b32a5bb",
        "name": "Parser",
        "func": "\n\nmsg.payload = Math.round((msg.payload.IL/1000) * (msg.payload.V/1000));\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 390,
        "y": 200,
        "wires": [
            [
                "8df345a7f0caaad9"
            ]
        ]
    },
    {
        "id": "0dfd21a273207c9f",
        "type": "function",
        "z": "68eb8e61689f5b6b",
        "g": "eaf8bdbc0b32a5bb",
        "name": "Parser",
        "func": "// calculate power\nmsg.payload = Math.round((msg.payload.I/1000) * (msg.payload.V/1000));\n\n// if charger is on and battery is not full (not absorption nor float state)\nif(global.get(\"output_state.charger\") && msg.payload.CS !=4 && msg.payload.CS !=5){\n    const charger_power = Math.round(4*msg.payload.V/1000);\n    msg.payload = msg.payload + charger_power;\n}\n\n// ui stuff --> change gage color if is charging or discharging\nif(msg.payload > 0 && context.get(\"color\") != \"#00F900\" ){\n    context.set(\"color\", \"#00F900\");\n}\nelse if(msg.payload <= 0 && context.get(\"color\") != \"#CA3838\") {\n    context.set(\"color\", \"#CA3838\");\n}\nelse {\n    // remove sign\n    msg.payload = Math.abs(msg.payload);\n    return msg;\n}\n\n// remove sign\nmsg.payload = Math.abs(msg.payload);\nmsg.ui_control = \n{\n    \"gtype\": \"gage\",\n    \"colors\": [context.get(\"color\"), context.get(\"color\"), context.get(\"color\")],\n};\n\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 390,
        "y": 160,
        "wires": [
            [
                "afd54341bce38b3e"
            ]
        ]
    },
    {
        "id": "8c0ea0e11e39eaf0",
        "type": "ui_text",
        "z": "68eb8e61689f5b6b",
        "g": "eaf8bdbc0b32a5bb",
        "group": "847e6ebb38b5779a",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "solar",
        "label": "Solar",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 530,
        "y": 240,
        "wires": []
    },
    {
        "id": "f0c81d8d65642c43",
        "type": "ui_chart",
        "z": "68eb8e61689f5b6b",
        "g": "eaf8bdbc0b32a5bb",
        "name": "",
        "group": "847e6ebb38b5779a",
        "order": 1,
        "width": "10",
        "height": "3",
        "label": "",
        "chartType": "bar",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "solar production",
        "dot": false,
        "ymin": "0",
        "ymax": "50",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 530,
        "y": 680,
        "wires": [
            []
        ]
    },
    {
        "id": "2f3766856057ef0d",
        "type": "function",
        "z": "68eb8e61689f5b6b",
        "g": "eaf8bdbc0b32a5bb",
        "name": "function 1",
        "func": "msg.payload = [{\n    \"series\": [\"bulk\", \"absorption\", \"float\"],\n    \"data\": [\n        [12, 25, 38, 5, 33, 20, 42], // Data for temp1\n        [32, 18, 43, 10, 28, 45, 15], // Data for temp2\n        [7, 41, 29, 48, 22, 36, 9]    // Data for temp3\n    ],\n    \"labels\": [\"Mon\", \"Tue\", \"Wed\", \"Thu\", \"Fri\", \"Sat\", \"Sun\"]\n}\n];\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 360,
        "y": 680,
        "wires": [
            [
                "f0c81d8d65642c43"
            ]
        ]
    },
    {
        "id": "c1b3a7704468558e",
        "type": "inject",
        "z": "68eb8e61689f5b6b",
        "g": "eaf8bdbc0b32a5bb",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 210,
        "y": 680,
        "wires": [
            [
                "2f3766856057ef0d"
            ]
        ]
    },
    {
        "id": "3dadbe1cb4047158",
        "type": "ui_text",
        "z": "68eb8e61689f5b6b",
        "g": "eaf8bdbc0b32a5bb",
        "group": "847e6ebb38b5779a",
        "order": 4,
        "width": 0,
        "height": 0,
        "name": "solar voltage",
        "label": "Voltage",
        "format": "{{msg.payload}}V",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 550,
        "y": 280,
        "wires": []
    },
    {
        "id": "fe5440428b83da93",
        "type": "ui_text",
        "z": "68eb8e61689f5b6b",
        "g": "eaf8bdbc0b32a5bb",
        "group": "847e6ebb38b5779a",
        "order": 5,
        "width": 0,
        "height": 0,
        "name": "solar current",
        "label": "Current",
        "format": "{{msg.payload}}A",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 550,
        "y": 320,
        "wires": []
    },
    {
        "id": "57d367224d09ccd6",
        "type": "ui_text",
        "z": "68eb8e61689f5b6b",
        "g": "eaf8bdbc0b32a5bb",
        "group": "847e6ebb38b5779a",
        "order": 7,
        "width": 0,
        "height": 0,
        "name": "battery voltage",
        "label": "Voltage",
        "format": "{{msg.payload}}V",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 560,
        "y": 480,
        "wires": []
    },
    {
        "id": "dbefbde828d006d7",
        "type": "ui_text",
        "z": "68eb8e61689f5b6b",
        "g": "eaf8bdbc0b32a5bb",
        "group": "847e6ebb38b5779a",
        "order": 8,
        "width": 0,
        "height": 0,
        "name": "battery current",
        "label": "Current",
        "format": "{{msg.payload}}A",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 560,
        "y": 520,
        "wires": []
    },
    {
        "id": "d2ac302f1c601a2b",
        "type": "ui_text",
        "z": "68eb8e61689f5b6b",
        "g": "eaf8bdbc0b32a5bb",
        "group": "847e6ebb38b5779a",
        "order": 6,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Battery",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 540,
        "y": 440,
        "wires": []
    },
    {
        "id": "3809706fd2674d67",
        "type": "function",
        "z": "68eb8e61689f5b6b",
        "g": "eaf8bdbc0b32a5bb",
        "name": "Parser",
        "func": "msg.payload = msg.payload.V / 1000;\n\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 390,
        "y": 480,
        "wires": [
            [
                "57d367224d09ccd6"
            ]
        ]
    },
    {
        "id": "7510582f92b6dfdd",
        "type": "function",
        "z": "68eb8e61689f5b6b",
        "g": "eaf8bdbc0b32a5bb",
        "name": "Parser",
        "func": "msg.payload = msg.payload.I / 1000;\n\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 390,
        "y": 520,
        "wires": [
            [
                "dbefbde828d006d7"
            ]
        ]
    },
    {
        "id": "494b9f025a690547",
        "type": "function",
        "z": "68eb8e61689f5b6b",
        "g": "eaf8bdbc0b32a5bb",
        "name": "Parser",
        "func": "msg.payload = msg.payload.VPV / 1000;\n\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 390,
        "y": 280,
        "wires": [
            [
                "3dadbe1cb4047158"
            ]
        ]
    },
    {
        "id": "3be3ad5243d93026",
        "type": "function",
        "z": "68eb8e61689f5b6b",
        "g": "eaf8bdbc0b32a5bb",
        "name": "Parser",
        "func": "msg.payload = Math.round(msg.payload.PPV / (msg.payload.V / 1000)*100)/100;\n\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 390,
        "y": 320,
        "wires": [
            [
                "fe5440428b83da93"
            ]
        ]
    },
    {
        "id": "0a679e414a51a829",
        "type": "ui_text",
        "z": "68eb8e61689f5b6b",
        "g": "eaf8bdbc0b32a5bb",
        "group": "847e6ebb38b5779a",
        "order": 5,
        "width": 0,
        "height": 0,
        "name": "yield today",
        "label": "Yield Today",
        "format": "{{msg.payload.H20}}0Wh",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 550,
        "y": 360,
        "wires": []
    },
    {
        "id": "d6785ee679911bd6",
        "type": "ui_text",
        "z": "68eb8e61689f5b6b",
        "g": "eaf8bdbc0b32a5bb",
        "group": "847e6ebb38b5779a",
        "order": 5,
        "width": 0,
        "height": 0,
        "name": "may power today",
        "label": "Max. Power Today",
        "format": "{{msg.payload.H21}}W",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 570,
        "y": 400,
        "wires": []
    },
    {
        "id": "e3b03333b844e614",
        "type": "inject",
        "z": "68eb8e61689f5b6b",
        "g": "eaf8bdbc0b32a5bb",
        "name": "",
        "props": [
            {
                "p": "enabled",
                "v": "false",
                "vt": "bool"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "x": 350,
        "y": 640,
        "wires": [
            [
                "f0c81d8d65642c43"
            ]
        ]
    },
    {
        "id": "9af0b603d3c5615e",
        "type": "ui_text",
        "z": "68eb8e61689f5b6b",
        "g": "eaf8bdbc0b32a5bb",
        "group": "847e6ebb38b5779a",
        "order": 8,
        "width": 0,
        "height": 0,
        "name": "starter battery voltage",
        "label": "Starter Battery Voltage",
        "format": "{{msg.payload}}V",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 580,
        "y": 560,
        "wires": []
    },
    {
        "id": "e8293c6ee77da59e",
        "type": "link in",
        "z": "68eb8e61689f5b6b",
        "g": "eaf8bdbc0b32a5bb",
        "name": "broadcast_data",
        "links": [
            "a26469027be8a376"
        ],
        "x": 145,
        "y": 560,
        "wires": [
            [
                "9af0b603d3c5615e"
            ]
        ]
    }
]